
@font-face {
  font-family: 'TelefonicaHeadlineLight';
  src: url('TelefonicaHeadlineLight.eot?#iefix') format('embedded-opentype'),  url('TelefonicaHeadlineLight.otf')  format('opentype'),
	     url('TelefonicaHeadlineLight.woff') format('woff'), url('TelefonicaHeadlineLight.ttf')  format('truetype'), url('TelefonicaHeadlineLight.svg#TelefonicaHeadlineLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
