<div class="bigBox bigBox--intro">
    <!-- CAROUSEL -->
    <section class="carousel carousel--introB">
        <div class="owl-carousel carousel__core">
            <!-- CAROUSEL ITEM -->
            <article class="carousel__item">
                <img src="/img/carousel/bannerHogarFamily.png" alt=""
                    class="carousel__item__img carousel__item__img2">
                <div class="movInfo2">
                    <div>
                        <h2 class="title white title--xs ftBold fsM14 lt1 mtM0 mbM5 ttU">¡Es tiempo de
                            compartir!</h2>
                        <h2 class="title white title--l ftRegular fsM14 lt1 mtM0 mbM5" id="tit">Conoce los
                            nuevos planes
                        </h2>
                        <h2 class="title white title--l ftRegular fsM14 lt1 mtM0 mbM5" id="tit">pospago Familia
                            y Amigos
                        </h2>
                    </div>
                </div>
            </article>
            <!-- CAROUSEL ITEM -->
            <article class="carousel__item">
                <img src="/img/carousel/ofertaExclusiva.png" alt=""
                    class="carousel__item__img carousel__item__img2">
                <div class="movInfo movInfo3">
                    <div class="logos">
                        <div class="logos__container">
                            <img src="/img/logo/logoMovistar.png" alt="" class="logos__rappiPrime">
                        </div>
                    </div>
                    <div>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">Disfruta esta
                        </h2>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">oferta
                        </h2>
                        <h2 class="title title--xm white taC ftBold	 fsM16 lt1 mtM0 mbM5" id="tit">8 GIGAS</h2>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">por <span
                                class="bkcyan">$58.990 </span></h2>
                        <!-- <h2 class="title title--s cyan taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">Pásalas o
                            pídelas en</h2>
                        <h2 class="title title--s cyan taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">la App Mi
                            Movistar</h2> -->
                    </div>
                </div>
            </article>
            <!-- END CAROUSEL ITEM -->
            <!-- CAROUSEL ITEM -->
            <article class="carousel__item">
                <img src="/img/carousel/carousel-3.png" alt="" class="carousel__item__img carousel__item__img2">
                <div class="rappi ">
                    <p class="text text--xxm white">DESENRÉDATE CON POSPAGO</p>
                    <div class="logos">
                        <div class="logos__left">
                            <img src="/img/logo/rappiPrime.png" alt="" class="logos__rappiPrime">
                            <div class="logos__line"></div>
                        </div>
                        <div class="logos__right">
                            <img src="/img/logo/rappi.png" alt="" class="logos__rappi">
                        </div>
                    </div>
                    <h2 class="title title--xl white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">HASTA</h2>
                    <h2 class="title title--xl white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">12 MESES</h2>
                    <h2 class="title title--xl white taC ftBold	 fsM25 lt1 mtM0 mbM5" id="tit">¡GRATIS!</h2>
                </div>
                <!-- <img src="/img/carousel/carousel-2-1.png" alt="" class="carousel__item__img">
                <div class="netflix ">
                    <img src="/img/logo/logo-netflix.png" alt="" class="">
                    <p class="text text--l white">Con cargo a la factura Movistar</p>
                    <ul>
                        <li class=" netflix__option text white lt0 mt10 mb10">Pagas Netflix en tu factura
                            Movistar</li>
                        <li class=" netflix__option text white lt0 mt10 mb10 hideMO">Puedes contratar cualquier
                            plan
                            disponible de Netflix</li>
                        <li class=" netflix__option text white lt0 mt10 mb10">Puedes seguir disfrutando Movistar
                            Play</li>
                        <li class=" netflix__option text white lt0 mt10 mb10 hideMO">Netflix te brindará todo el
                            soporte técnico necesario</li>
                    </ul>
                </div> -->
            </article>
            <!-- END CAROUSEL ITEM -->
            <!-- CAROUSEL ITEM -->
            <article class="carousel__item">
                <img src="/img/carousel/carousel-3.png" alt="" class="carousel__item__img carousel__item__img2">
            </article>
            <!-- END CAROUSEL ITEM -->
        </div>
        <!-- CAROUSEL INFO -->
        <div class="owl-carousel carousel__info">
            <!-- CAROUSEL INFO CONTAINER -->
            <article class="carousel__info__container mt95 mtM0">
                <div class="carousel__info__content">
                    <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">Planes con más Gigas,
                    </h2>
                    <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más beneficios y Apps
                        incluidas.
                    </h2>
                    <!-- <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">y Apps.</h2> -->
                    <p class="text text--s white fsI mt10 mb10">Vigencia desde el 1 al 15 de Enero</p>
                    <!-- FORM -->
                    <form action="" onsubmit="'/portabilidad/gracias'" method="post"
                        class="form form--color mt10" id="form_contacto">
                        <!-- FORM BOX -->
                        <div class="form__box telBlue">
                            <input type="number" id="num_tel" placeholder="Ingresa tu número"
                                class="placeB form__input" required>
                            <button type="submit" class="form__submit btn btn--flat brwhite">Contrátalo
                                aquí</button>
                        </div>
                        <!-- END FORM BOX -->
                        <!-- FORM BOX -->
                        <div class="form__box mt10">
                            <input type="checkbox" name="personal-data" id="checkbox1" class="form__checkbox"
                                required>
                            <label for="checkbox1" class="form__label--ch">Autorizo el <span
                                    class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                personales</label>
                        </div>
                        <!-- END FORM BOX -->
                    </form>
                    <!-- END FORM -->
                </div>
                <div class="carousel__info__message">
                    <h2 class="title title--xxm white taC ftBold">¡Gracias por registrarte!</h2>
                    <p class="text white taC mt5">Pronto nos comunicaremos contigo.</p>
                </div>
                <!-- END FORM -->
            </article>
            <!-- END CAROUSEL INFO CONTAINER -->
            <!-- CAROUSEL INFO CONTAINER -->
            <article class="carousel__info__container mt95 mtM0">
                <div class="carousel__info__content">
                    <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">Planes con más Gigas,
                    </h2>
                    <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más beneficios y Apps
                        incluidas.
                    </h2>
                    <!-- <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más fácil</h2> -->
                    <p class="text text--s white fsI mt10 mb10">Vigencia desde el 1 al 15 de Enero</p>
                    <!-- FORM -->
                    <form action="" onsubmit="'/portabilidad/gracias'" id="form_contacto_slider" method="post"
                        class="form form--color mt10">
                        <!-- FORM BOX -->
                        <div class="form__box telBlue">
                            <input type="number" placeholder="Ingresa tu número" id="num_tel_slider"
                                class="placeB form__input" required>
                            <button type="submit" class="form__submit btn btn--flat brwhite">Contrátalo
                                aquí</button>
                        </div>
                        <!-- END FORM BOX -->
                        <!-- FORM BOX -->
                        <div class="form__box mt10">
                            <input type="checkbox" name="personal-data" id="checkbox2" class="form__checkbox"
                                required>
                            <label for="checkbox2" class="form__label--ch">Autorizo el <span
                                    class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                personales</label>
                        </div>
                        <!-- END FORM BOX -->
                    </form>
                    <!-- END FORM -->
                </div>
                <div class="carousel__info__message">
                    <h2 class="title title--xxm white taC ftBold">¡Gracias por registrarte!</h2>
                    <p class="text white taC mt5">Pronto nos comunicaremos contigo.</p>
                </div>
            </article>
            <!-- END CAROUSEL INFO CONTAINER -->
        </div>
        <!-- END CAROUSEL INFO -->
        <!-- BANNER PROMO -->
        <div class="bannerPromo" data-modal="request">
        </div>
        <!-- sticker -->
        <div class="bannerPromo" data-modal="request">
            <img src="/img/icons/beneficios.png" alt="" class="planB__aImgMan--min">
            <img src="/img/icons/unaSolafactura.png" alt="" class="planB__aImgMan--min">
            <img src="/img/icons/bandera.png" alt="" class="planB__aImgMan">
        </div>
        <!-- END BANNER PROMO -->
        <!-- CAROUSEL NAV -->
        <div class="carousel__nav"></div>
        <!-- END CAROUSEL NAV -->
    </section>
    <!-- END CAROUSEL -->
</div>
