<div class="owl-carousel carousel__core">
    <!-- CAROUSEL ITEM -->
    <!-- Las imagenes y los textos se añaden en un array de objetos en las rutas -->
    <% for(var images of dataCarrusel){ %>
        <article class="carousel__item">
            <img src="<%= images.imgUrlDesktop %>" alt=""
                class="carousel__item__img carousel__item__img__desktop">
            <% if(images.imgUrlMobile != '') { %>
                <img src="<%= images.imgUrlMobile %>" alt=""
                class="carousel__item__img carousel__item__img__mobile">
            <% } %>
            <% if(images.per == false) { %>
                <div class="exclusivOnline">
                    <% if(images.title == false) { %>
                        <p class="title title--sl ttU ftBold white"><%= images.title %></p>
                    <% } if(images.description_1 != '') { %>
                        <p class="title title--sl ttU white"><%= images.description_1 %></p>
                    <% } if(images.description_2 != '') { %>
                        <p class="title title--l ftW ttU white"><%= images.description_2%></p>
                    <% } %>
                </div>
            <% } else { %>
                <%- include('./bannersP/portabilidad.html'); %>
            <% } %>
        </article>
    <% } %>
    <!-- END CAROUSEL ITEM -->
</div>