 <div class="bigBox bigBox--celulares pb90 pt40">
    <!-- BIG BOX CONTAINER -->
    <div class="container container--limit bigBox__container pl10 pr10">
        <h2 class="w100 max1000 title title--xl fsM40 gray ftLight taC mlA mrA mb80 mbM40">Es muy fácil tener el
            Smartphone que quieres en planes desde <span class="ftBold">$63.900</span></h2>
        <!-- BOX PHONES -->
        <section class="boxPhones">
            <!-- BOX PHONES NAV -->
            <div class="boxPhones__nav">
                <!-- BOX PHONES NAV ITEM -->
                <span class="boxPhones__nav__item active" data-phones="1a">ver equipos hasta 6 cuotas
                    gratis</span>
                <!-- END BOX PHONES NAV ITEM -->
                <!-- BOX PHONES NAV ITEM -->
                <span class="boxPhones__nav__item" data-phones="2b">ver equipos mismo precio de contado o a
                    cuotas</span>
                <!-- END BOX PHONES NAV ITEM -->
                <!-- BOX PHONES NAV ITEM -->
                <span class="boxPhones__nav__item" data-phones="3c">ver equipos sin cuota inicial</span>
                <!-- END BOX PHONES NAV ITEM -->
            </div>
            <!-- END BOX PHONES NAV -->
            <!-- BOX PHONES CONTAINER -->
            <div class="boxPhones__container">
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a 2b" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Huawei Y9 2019 DS LTE</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/huawei-1.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$40.080</h4>
                        <span class="promo2x1">
                            <span class="promo2x1__big">2</span>x1
                        </span>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">64 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">13 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">6.5 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a 2b 3c" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Huawei Mate 20 Pro LTE</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/huawei-2.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$139.209</h4>
                        <span class="promo2x1">
                            <span class="promo2x1__big">2</span>x1
                        </span>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">128 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">40 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">6.29 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a 3c" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Huawei P20 LTE</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/huawei-3.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$67.614</h4>
                        <span class="promo2x1">
                            <span class="promo2x1__big">2</span>x1
                        </span>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">128 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">20 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">5.8 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Moto Z3 Play DS LITE</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/huawei-1.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$63.637</h4>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">64 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">12 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">6 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a 2b" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Nokia 6.1</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/nokia-1.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$26.240</h4>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">32 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">16 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">6 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES ITEM -->
                <article class="boxPhones__item" data-phones="1a" data-modal="request">
                    <h3 class="w100 text text--l ftBold cyan taC mb15">Samsung A6 Plus DS LTE</h3>
                    <div class="boxPhones__item__left">
                        <img src="/img/phones/samsung-1.jpg" alt="" class="boxPhones__item__img">
                    </div>
                    <div class="boxPhones__item__right">
                        <p class="w100 text gray mb5">Hasta en 24 cuotas mensuales desde:</p>
                        <h4 class="w100 title title--xxxm fsM30 gray ftBold lh1">$40.080</h4>
                    </div>
                    <div class="boxPhones__data">
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/micro-sd.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">32 GB</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/cam.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">16 Mpx</p>
                        </div>
                        <div class="boxPhones__data__mini">
                            <img src="/img/icons/enlarge.png" alt="" class="boxPhones__data__icon">
                            <p class="text text--xm gray ftBold taC">5.5 ''</p>
                        </div>
                        <span class="w100 max250 btn btn--flat mt10">Lo quiero</span>
                    </div>
                </article>
                <!-- END BOX PHONES ITEM -->
                <!-- BOX PHONES LOADER -->
                <div class="boxPhones__loader hide">
                    <svg class="loader__content" viewBox="25 25 50 50">
                        <circle class="loader__circular" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                            stroke-miterlimit="10" />
                        <circle class="loader__circular" cx="50" cy="50" r="15" fill="none" stroke-width="2"
                            stroke-miterlimit="10" />
                        <circle class="loader__circular" cx="50" cy="50" r="10" fill="none" stroke-width="2"
                            stroke-miterlimit="10" />
                    </svg>
                </div>
                <!-- END BOX PHONES LOADER -->
            </div>
            <!-- END BOX PHONES CONTAINER -->
        </section>
        <!-- END BOX PHONES -->
    </div>
    <!-- END BIG BOX CONTAINER -->
</div>