<footer class="footer">
    <!-- FOOTER TOP -->
    <div class="footer__top">
        <div class="container container--limit footer__container">
            <div class="footer__box pb40">
                <h2 class="title title--xxm white ftBold fsM25 mbM5">¡Llama ahora!</h2>
                <!-- NOMBER PHONE PAGE -->
                <!-- Los numeros de contacto varia segun el servicio que se consulta, las variables se pueden ver en las rutas -->
                <% if( page == "fibra" || page == "hogar"){  %>
                    <a class="title title--xxs white ftBold fsM25 mbM5" href="tel:018000910065"><span
                        class="text_whiteH">Linea Nacional: </span> 018000910065</a>
                    <a class="title title--xxs white ftBold fsM25 mbM5" href="tel:3009108449">
                    <span class="text_whiteH__second "> Móvil: </span> 3009108449 </a>
                <% } else { %>
                    <a class="title title--xxm white ftBold fsM25 mbM5" href="tel:3009108465"><span class="text_white__second"> Móvil: </span> 3009108465 </a>
                <% } %>
                <!-- END NOMBER PHONE PAGE -->
                <p class="text white mt5">o si lo prefieres, te llamamos nosotros</p>
                <!-- FORM -->
                <!-- La etiqueta form varia segun el servicio que se consulta, las variables se pueden ver en las rutas -->
                <% if( page == "fibra"){  %>
                    <form action="#" method="post" onsubmit="'/fibra/gracias'" class="form form--footer mt40" id="form_footer_hogar">
                <% } if( page == "hogar"){  %>
                    <form action="#" method="post" class="form form--footer mt40" id="form_footer_hogar">
                <% } if( page == "pospago" || page == "portabilidad"){  %>
                    <form action="#" method="post" class="form form--footer mt40" id="form_footer">
                <% } else {  %>
                    <form action="#" method="post" onsubmit="'/fibra/gracias'" class="form form--footer mt40" id="form_footer_hogar">
                <% } %>
                    <!-- FORM BOX -->
                    <div class="form__box">
                        <input type="number" placeholder="Ingresa tu número" class="form__input" id="<%= idInputF %>" required>
                        <button class="form__submit btn btn--flat btn--white">¡Te llamamos!</button>
                    </div>
                    <!-- END FORM BOX -->
                    <!-- FORM BOX -->
                    <div class="form__box mt10">
                        <input type="checkbox" name="personal-data" id="checkbox1f" class="form__checkbox" required>
                        <label for="checkbox1f" class="form__label--ch">Acepto uso <span class="tdU pl3 pr3 cuP"
                                data-modal="data"> de datos</span></label>
                    </div>
                    <!-- END FORM BOX -->
                    <!-- <div class="boxgooglefooter">
                        <img src="/img/icons/googlepartner.png" alt="">
                    </div> -->
                </form>
                <!-- END FORM -->
                <!-- FOOTER BOX MESSAGE -->
                <div class="footer__box__message">
                    <h2 class="w100 title title--xxm white taC ftBold mt20">¡Gracias por registrarte!</h2>
                    <p class="w100 text white taC mt5">Pronto nos comunicaremos contigo.</p>
                </div>
                <!-- END FOOTER BOX MESSAGE -->
            </div>
            <div class="footer__box">
                <img src="/img/icons/caller.svg" alt="" class="footer__box__img" data-aos="zoom-out">
            </div>
        </div>
    </div>
</footer>