<!-- HEADER -->
<header class="header">
    <div class="container container--limit header__container pl10 pr10">
        <!-- LOGO -->
        <a href="/" class="logo logo--lf">
            <img src="/img/logo/logo-2.png" alt="" class="logo__img">
        </a>
        <a href="/" class="logo logo--f">
            <img src="/img/logo/logo.png" alt="" class="logo__img">
        </a>
        <!-- END LOGO -->
        <!-- NAV -->
        <nav class="nav">
            <div class="showM">
                <h2 class="title title--xxm cyan ftBold fsM25 mt20 mtM0 mbM5 showTitle">Paga 10 Megas y lleva 30
                    Megas
                    en fibra óptica</h2>
            </div>
            <% if( page == "pospago"){  %>
                <ul class="nav__list">
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/portabilidad" class="nav__item__link ">Portabilidad</a>
                    </li>
                    <!-- END NAV ITEM -->
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/pospago" class="nav__item__link active">Pospago</a>
                    </li>
                    <!-- END NAV ITEM -->
                </ul>
            <% } else if ( page == "portabilidad"){  %>
                <ul class="nav__list">
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/portabilidad" class="nav__item__link active">Portabilidad</a>
                    </li>
                    <!-- END NAV ITEM -->
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/pospago" class="nav__item__link">Pospago</a>
                    </li>
                    <!-- END NAV ITEM -->
                </ul>
            <% } else if ( page == "fibra"){  %>
                <ul class="nav__list">
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/" class="nav__item__link active">Fibra Movistar</a>
                    </li>
                    <!-- END NAV ITEM -->
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/hogar" class="nav__item__link"> Internet Para tu hogar</a>
                    </li>
                    <!-- END NAV ITEM -->
                </ul>
            <% } else if ( page == "hogar"){  %>
                <ul class="nav__list">
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/" class="nav__item__link ">Fibra Movistar</a>
                    </li>
                    <!-- END NAV ITEM -->
                    <!-- NAV ITEM -->
                    <li class="nav__item">
                        <a href="/hogar" class="nav__item__link active"> Internet Para tu hogar</a>
                    </li>
                    <!-- END NAV ITEM -->
                </ul>
            <% } %>
            
        </nav>
        <!-- END NAV -->
        <!-- CALL -->
        <!-- <section class="btn btn--flat call call--f mlMA" data-modal="request">
            <span class="text--m call__info" style="font-family:DINNextLTProMedium;">¡Te llamamos!</span>
            <span class="text--m call__info"></span>
        </section> -->
        <% if( page == "pospago" || page == "portabilidad"){  %>
            <div class="btn btn--flat btn--green call call--invert mlMA">
                <a class="text--m call__info__newH" href="tel:+1-300-910-8449">MÓVIL: 3009108449</a>
            </div>
        <% } else if ( page == "fibra" || page == "hogar"){  %>
            <div class="btn btn--flat call call--invert mlMA">
                <a class="text--m call__info__newH" href="tel:+1-300-910-8449">MÓVIL: 3009108449</a>
            </div>
        <% } %>
        
        <!-- END CALL -->
    </div>
</header>
<!-- END HEADER -->