<!-- BLOX BLUE -->
<div class="boxBlue">
    <h1 class="boxBlue__title">¡Internet Fibra Movistar, único con velocidad Simétrica!</h1>
    <h3 class="boxBlue__subtitle">
        <img src="/img/icons/simetrica.png" alt=""> <span>Sube y baja a la misma velocidad</span>
    </h3>
</div>
<!-- END BOX BLUE -->

<!-- BIG BOX -->
<div class="bigBox bigBox--razones pb80">
    <!-- BIG BOX CONTAINER -->
    <div class="container container--limit bigBox__container pl10 pr10">
        <h2 class="w100 title title--xl  cyan ftBold taC fsM35 mb15 mbM10">¿Cómo puedo aprovechar al máximo mi
            Internet Fibra Movistar?</h2>
        <!-- <p class="text text--xxm fsM16 gray mt5">Ahora toda tu familia podrá navegar al mismo tiempo con más
            velocidad y mejor calidad.</p> -->
        <!-- BOX COLOR -->
        <section class="boxColor container max1000 mlA mrA mt50">
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--cyan" data-aos="zoom-in" data-aos-delay="0"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Matonea si parar</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/playBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Disfruta Movistar Play, Netflix y más, en
                        calidad Ultra HD</p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--orange" data-aos="zoom-in" data-aos-delay="150"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Modo Gamer</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/mandoBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Juega online o baja juegos de Steam u otras
                        platadormas
                    </p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--green" data-aos="zoom-in" data-aos-delay="300"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Movistar Música</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/shareBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Sube lo que quieras a tus redes sociales mucho
                        más rapido.</p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--cyan" data-aos="zoom-in" data-aos-delay="450"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">App Smart Wifi</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/smartBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Controla tu red y gestiona tus dispositivos
                        desde tu smartphone.</p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--orange" data-aos="zoom-in" data-aos-delay="600"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Más para tu hogar</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/camBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Conecta cámaras para IP, sistemas de alarma,
                        servidores NAS y más dispositivos.</p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--green" data-aos="zoom-in" data-aos-delay="600"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Acércate a lo que quieres</p>
                </div>
                <div class="boxColor__item__bottom">
                    <img src="/img/icons/telBox.png" alt="" class="boxColor__item__img p20">
                    <p class="w100 text text--xxm gray taC mb10">Mayor rendimiento y calidad en videollamadas o
                        llamadas VoIP.</p>
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
        </section>
        <!-- END BOX COLOR -->
    </div>
    <!-- END BIG BOX CONTAINER -->
</div>
<!-- END BIG BOX -->