<div class="loader">
    <div class="loader__container">
        <svg class="loader__content" viewBox="25 25 50 50">
            <circle class="loader__circular" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                stroke-miterlimit="10" />
            <circle class="loader__circular" cx="50" cy="50" r="15" fill="none" stroke-width="2"
                stroke-miterlimit="10" />
            <circle class="loader__circular" cx="50" cy="50" r="10" fill="none" stroke-width="2"
                stroke-miterlimit="10" />
        </svg>
    </div>
</div>
