<section class="modal hide" data-modal="request">
    <div class="modal__container">
        <span class="modal__close"></span>
        <div class="carousel__info__content">
            <h2 class="title title--xxm cyan ftBold fsM25 mt20 mtM0 mbM5">¿Quieres que te llamemos?</h2>
            <p class="text gray mt5">¡Oferta especial exclusiva!</p>
            <p class="text text--s gray fsI mt30">Vigencia desde el 1 al 15 de Enero</p>
            <!-- FORM -->
            <!--  La etiqueta de envio varia segun el servicio que se consulta, las variables se pueden ver en las rutas -->
            <% if(page == "portabilidad"){ %>
                <form action="" onsubmit="location.href='/portabilidad/gracias'" method="post" class="form mt10" id="form_contacto_modal">
            <% } else if (page == "fibra"){ %>
                <form action="" onsubmit="location.href='/fibra/gracias'" method="post" class="form mt10" id="form_contacto_modal_hogar">
            <% } else if (page == "hogar"){ %>
                <form action="" onsubmit="location.href='/hogar/gracias'" method="post" class="form mt10" id="form_contacto_modal_hogar">
            <% } else if (page == "pospago"){ %>
                <form action="" onsubmit="location.href='/pospago/gracias'" method="post" class="form mt10" id="form_contacto_modal">
            <% } else {  %>
                <form action="" onsubmit="location.href='/fibra/gracias'" method="post" class="form mt10" id="form_contacto_modal_hogar">
            <% } %>
                <!-- FORM BOX -->
                <div class="form__box">
                    <input type="number" placeholder="Ingresa tu número" class="form__input" id="num_tel_modal" required>
                    <button class="form__submit btn btn--flat">Contrátalo aquí</button>
                </div>
                <!-- END FORM BOX -->
                <!-- FORM BOX -->
                <div class="form__box mt10">
                    <input type="checkbox" name="personal-data" id="checkbox1m" class="form__checkbox" required>
                    <label for="checkbox1m" class="form__label--ch">Autorizo el tratamiento de datos personales</label>
                </div>
                <!-- END FORM BOX -->
            </form>
            <!-- END FORM -->
        </div>
    </div>
</section>