<!-- BIG BOX -->
<div class="bigBox bigBox--preferencialB">
    <!-- BIG BOX CONTAINER -->
    <div class="container container--limit bigBox__container">
        <div class="bigBox__mini">
            <h2 class="w100 max500 title title--xl fsM40 white ftBold taC mb15 mlA mrA">Mira todo <span
                    class="ftLight">lo que te ofrece Movistar</span></h2>
        </div>
        <!-- BENEFITS BOX -->
        <div class="benefitsBox mt20">
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="450">
                <img src="/img/icons/rappi.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Rappi Prime</p>
                <p class="w100 text white taC">Disfruta el servicio de domicilio gratis en todos tus pedidos
                    realizados
                </p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="450">
                <img src="/img/icons/Pasagigas copia.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Pasa gigas</p>
                <p class="w100 text white taC">Pide y comparte tus datos con quien quieras
                </p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="450">
                <img src="/img/icons/roaming-datos.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Roaming de Datos</p>
                <p class="w100 text white taC">Disfruta tus Gigas hasta en 61 países
                </p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="450">
                <img src="/img/icons/upload.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Movistar Cloud</p>
                <p class="w100 text white taC">Libera espacio en tu celular con Movistar Cloud
                </p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <!-- <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="0">
        <img src="/img/icons/unlimited-minutes.png" alt="" class="benefitsBox__item__img">
        <p class="w100 text text--m ttU ftBold white taC mb10">Minutos ilimitados</p>
        <p class="w100 text white taC">A todo operador en Colombia</p>
    </div> -->
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="150">
                <img src="/img/icons/red-4g.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Red 4g</p>
                <p class="w100 text white taC">Red 4G. Disfruta del internet móvil más veloz del mundo</p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
            <!-- BENEFITS BOX ITEM -->
            <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="300">
                <img src="/img/icons/m-play.png" alt="" class="benefitsBox__item__img">
                <p class="w100 text text--m ttU ftBold white taC mb10">Movistar play app</p>
                <p class="w100 text white taC">Disfruta películas, novelas, series y canales en vivo</p>
            </div>
            <!-- END BENEFITS BOX ITEM -->
        </div>
        <!-- END BENEFITS BOX -->
    </div>
    <!-- END BIG BOX CONTAINER -->
</div>