    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="/js/libraries/aos.js"></script>


    <!-- SCRIPT ACCORDING TO PAGE -->
    <!-- El script varia segun el servicio que se consulta, las variables se pueden ver en las rutas -->
    <% if( page == "pospago"){  %>
        <script src="/js/mainscriptpospago.min.js"></script>
    <% } else if ( page == "portabilidad"){  %>
        <script src="/js/mainscript.min.js"></script>
    <% } else if ( page == "fibra"){  %>
        <script src="/js/mainscriptfibra.js"></script>
    <% } else if ( page == "hogar"){  %>
        <script src="/js/mainscripthogar.min.js"></script>
    <% } %>
    <!-- END SCRIPT ACCORDING TO PAGE -->