<!-- BIG BOX -->
<div class="bigBox bigBox--razones pb80">
    <!-- BIG BOX CONTAINER -->
    <div class="container container--limit bigBox__container pl10 pr10">
        <h2 class="w100 title title--xl ttU cyan ftBold taC fsM35 mb15 mbM10">Servicios adicionales</h2>
        <!-- <p class="text text--xxm fsM16 gray mt5">Ahora toda tu familia podrá navegar al mismo tiempo con más
            velocidad y mejor calidad.</p> -->
        <!-- BOX COLOR -->
        <section class="boxColor container max1000 mlA mrA mt50">
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--cyan" data-aos="zoom-in" data-aos-delay="0"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">CDS<br>Multidispositivos</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10">Mantén seguros tus dispositivos y documentos, además
                        protege a tu familia del contenido inapropiado de internet.</p>
                    <img src="/img/icons/McAfee.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--orange" data-aos="zoom-in" data-aos-delay="150"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Aula 365</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10 ">La más novedosa herramienta de apoyo escolar que
                        acompaña a los estudiantes durante todas las etapas de su aprendizaje.</p>
                    <img src="/img/icons/aula365.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>

            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--green" data-aos="zoom-in" data-aos-delay="300"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Movistar Música</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10">Napster, es un servicio que te permite escuchar toda
                        la música que quieras al instante y en cualquier lugar tengas o no conexión a Internet.
                    </p>
                    <img src="/img/icons/movistarMusica1.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--cyan" data-aos="zoom-in" data-aos-delay="450"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Centro de Seguridad</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10">Te entrega 3 licencias del paquete de proteccion de
                        McAfee, para descargar hasta en 3 computadores.</p>
                    <img src="/img/icons/Shield.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--orange" data-aos="zoom-in" data-aos-delay="600"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Conexión Segura</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10">Servicio de seguridad que protege todos tus
                        dispositivos conectados a Internet utilizando la conexión de internet fijo de Movistar.
                    </p>
                    <img src="/img/icons/lock.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
            <!-- BOX COLOR ITEM -->
            <article class="boxColor__item boxColor__item--green" data-aos="zoom-in" data-aos-delay="600"
                data-modal="request">
                <div class="boxColor__item__top">
                    <p class="text text--xxxm white taC">Tutor</p>
                </div>
                <div class="boxColor__item__bottom">
                    <p class="w100 text text--xm gray mb10">Servicio de mantenimientos y reparación de fallas
                        informáticas del computador.</p>
                    <img src="/img/icons/laptop.png" alt="" class="boxColor__item__img">
                    <p class="green w100 mt20 taC">Conoce más ></p>
                </div>
            </article>
            <!-- END BOX COLOR ITEM -->
        </section>
        <!-- END BOX COLOR -->
    </div>
    <!-- END BIG BOX CONTAINER -->
</div>
<!-- END BIG BOX -->