<section class="modal modal--big hide" data-modal="data">
    <div class="modal__container">
        <span class="modal__close"></span>
        <div class="modal__content mt30 pb20">
            <h2 class="title title--xxm cyan ftBold fsM25 ttU mt5 mb10">POLÍtiCAS DE PRIVACIDAD
            </h2>
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb10">Términos, condiciones y autorización para el
                tratamiento de datos personales.
            </h3>
            <p class="text gray mt10">
                <% if( page == "hogar"){ %>
                    
                    El usuario autoriza a la Empresa Targeters Media para recolectar, almacenar,
                    conservar, usar, suprimir, actualizar, compartir y circular a terceros, sus datos personales de
                    orden demográfico, económico, biométricos, de servicios, comercial
                    y de localización; para obtención y suministro de información relativa al cumplimiento de sus
                    obligaciones y el cálculo de riesgo económico o crediticio (de manera irrevocable), la publicación
                    de directorios telefónicos, la prevención
                    y control de fraudes, y para beneficio propio o de terceros con los que la Empresa haya celebrado
                    convenio para envío y recepción de cualquier tipo de información, con fines comerciales o
                    publicitarios en Colombia o en el exterior.
                    La información para el cálculo de riesgo crediticio podrá ser consultada en cualquier operador de
                    banco de datos, por las entidades financieras con las cuales la Empresa celebre convenios
                    comerciales en favor de los titulares. Los
                    datos serán tratados de conformidad con las Políticas para el Tratamiento de Datos Personales que se
                    encuentran a disposición de los interesados y/o titulares de los datos en la página web
                    www.promoshogarymoviles.com/ El titular de
                    los datos tiene derecho de conocer, actualizar, rectificar, suprimir los datos, y revocar la
                    autorización salvo las excepciones legales. Los datos biométricos son datos sensibles y el titular
                    no está obligado a autorizar su tratamiento,
                    estos serán usados para verificación de identidad y suscripción de contratos.

                <% } else if ( page == "fibra"){  %>

                    El usuario autoriza a la Empresa Targeters Media para recolectar, almacenar,
                    conservar, usar, suprimir, actualizar, compartir y circular a terceros, sus datos personales de
                    orden demográfico, económico, biométricos, de servicios, comercial
                    y de localización; para obtención y suministro de información relativa al cumplimiento de sus
                    obligaciones y el cálculo de riesgo económico o crediticio (de manera irrevocable), la publicación
                    de directorios telefónicos, la prevención
                    y control de fraudes, y para beneficio propio o de terceros con los que la Empresa haya celebrado
                    convenio para envío y recepción de cualquier tipo de información, con fines comerciales o
                    publicitarios en Colombia o en el exterior.
                    La información para el cálculo de riesgo crediticio podrá ser consultada en cualquier operador de
                    banco de datos, por las entidades financieras con las cuales la Empresa celebre convenios
                    comerciales en favor de los titulares. Los
                    datos serán tratados de conformidad con las Políticas para el Tratamiento de Datos Personales que se
                    encuentran a disposición de los interesados y/o titulares de los datos en la página web
                    www.promoshogarymoviles.com/ El titular de
                    los datos tiene derecho de conocer, actualizar, rectificar, suprimir los datos, y revocar la
                    autorización salvo las excepciones legales. Los datos biométricos son datos sensibles y el titular
                    no está obligado a autorizar su tratamiento,
                    estos serán usados para verificación de identidad y suscripción de contratos.

                <% } else if ( page == "portabilidad"){  %>

                    El titular de los datos autoriza a Targeters Media, quien actúa en calidad de
                    Encargado del Tratamiento por parte del Responsable del Tratamiento, la empresa Colombia
                    Telecomunicaciones S.A. ESP (Av. Suba No.114 A-55 de Bogotá, tel. 091
                    7050000), para recolectar, almacenar, conservar, usar, suprimir, actualizar, compartir y circular a
                    terceros, sus datos personales de orden demográfico, económico, biométricos, de servicios, comercial
                    y de localización; para obtención
                    y suministro de información relativa al cumplimiento de sus obligaciones y el cálculo de riesgo
                    económico o crediticio (de manera irrevocable), la publicación de directorios telefónicos, la
                    prevención y control de fraudes, y para beneficio
                    propio o de terceros con los que la Empresa haya celebrado convenio para envío y recepción de
                    cualquier tipo de información, con fines comerciales o publicitarios en Colombia o en el exterior.
                    La información para el cálculo de riesgo
                    crediticio podrá ser consultada en cualquier operador de banco de datos, por las entidades
                    financieras con las cuales la Empresa celebre convenios comerciales en favor de los titulares. Los
                    datos serán tratados de conformidad con las
                    Políticas para el Tratamiento de Datos Personales que se encuentran a disposición de los interesados
                    y/o titulares de los datos en la página web www.movistar.co El titular de los datos tiene derecho de
                    conocer, actualizar, rectificar,
                    suprimir los datos, y revocar la autorización salvo las excepciones legales. Los datos biométricos
                    son datos sensibles y el titular no está obligado a autorizar su tratamiento, estos serán usados
                    para verificación de identidad y suscripción
                    de contratos.

                <% } else if ( page == "pospago"){  %>
                    
                    El titular de los datos autoriza a Targeters Media, quien actúa en calidad de
                    Encargado del Tratamiento por parte del Responsable del Tratamiento, la empresa Colombia
                    Telecomunicaciones S.A. ESP (Av. Suba No.114 A-55 de Bogotá, tel. 091
                    7050000), para recolectar, almacenar, conservar, usar, suprimir, actualizar, compartir y circular a
                    terceros, sus datos personales de orden demográfico, económico, biométricos, de servicios, comercial
                    y de localización; para obtención
                    y suministro de información relativa al cumplimiento de sus obligaciones y el cálculo de riesgo
                    económico o crediticio (de manera irrevocable), la publicación de directorios telefónicos, la
                    prevención y control de fraudes, y para beneficio
                    propio o de terceros con los que la Empresa haya celebrado convenio para envío y recepción de
                    cualquier tipo de información, con fines comerciales o publicitarios en Colombia o en el exterior.
                    La información para el cálculo de riesgo
                    crediticio podrá ser consultada en cualquier operador de banco de datos, por las entidades
                    financieras con las cuales la Empresa celebre convenios comerciales en favor de los titulares. Los
                    datos serán tratados de conformidad con las
                    Políticas para el Tratamiento de Datos Personales que se encuentran a disposición de los interesados
                    y/o titulares de los datos en la página web www.movistar.co El titular de los datos tiene derecho de
                    conocer, actualizar, rectificar,
                    suprimir los datos, y revocar la autorización salvo las excepciones legales. Los datos biométricos
                    son datos sensibles y el titular no está obligado a autorizar su tratamiento, estos serán usados
                    para verificación de identidad y suscripción
                    de contratos.

                <% } %>
            </p>
        </div>
    </div>
</section>