<% if( page == "portabilidad" && gracias == false){%>
    <% for(var imagen of dataCarrusel){ %>
        <% //for(var iter of imagen){ %>
            <% if(imagen.id == 2){ %>
                <div class="movInfo movInfo3">
                    <div class="logos">
                        <div class="logos__container">
                            <img src="/img/logo/logoMovistar.png" alt="" class="logos__rappiPrime">
                        </div>
                    </div>
                    <div>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">Disfruta esta
                        </h2>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">oferta
                        </h2>
                        <h2 class="title title--xm white taC ftBold	 fsM16 lt1 mtM0 mbM5" id="tit">8 GIGAS</h2>
                        <h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">por <spanclass="bkcyan">$58.990 </span></h2>
                    </div>
                </div>
            <% } if(imagen.id == 3){ %>
                <div class="rappi ">
                    <p class="text text--xxm white">DESENRÉDATE CON POSPAGO</p>
                    <div class="logos">
                        <div class="logos__left">
                            <img src="/img/logo/rappiPrime.png" alt="" class="logos__rappiPrime">
                            <div class="logos__line"></div>
                        </div>
                        <div class="logos__right">
                            <img src="/img/logo/rappi.png" alt="" class="logos__rappi">
                        </div>
                    </div>
                    <h2 class="title title--xl white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">HASTA</h2>
                    <h2 class="title title--xl white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">12 MESES</h2>
                    <h2 class="title title--xl white taC ftBold	 fsM25 lt1 mtM0 mbM5" id="tit">¡GRATIS!</h2>
                </div>
            <% } %>
        <% //} %>
    <% } %>
<% } %>