<!DOCTYPE html>
<html lang="es">
<!-- test -->

<head>
    <!-- HEAD -->
    <%- include('./partials/head.html'); %>
    <!-- END HEAD -->
</head>

<body>
    <div class="linkpospago">
        <a href="/portabilidad">
            <img src="/img/link/portabilidad.png" alt="">
        </a>
    </div>
    <!-- MODAL CALL -->
    <%- include('./partials/modalCall.html'); %>
    <!-- END MODAL CALL -->

    <!-- MODAL TERMINOS -->
    <%- include('./partials/modalTerminos/hogar.html'); %>
    <!-- END MODAL TERMINOS -->
    
    <!-- MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->
    <%- include('./partials/treatmentData.html'); %>
    <!-- END MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->
    
    <!-- LOADER -->
    <%- include('./partials/loader.html'); %>
    <!-- End LOADER -->

    <!-- GENERAL CONTAINER -->
    <div class="container container--general">
        <!-- HEADER -->
            <%- include('./partials/header.html'); %>
        <!-- END HEADER -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--intro">
            <!-- CAROUSEL -->
            <section class="carousel carousel--intro">

                <div class="owl-carousel carousel__core">
                    <!-- CAROUSEL ITEM -->
                    <article class="carousel__item">
                        <img src="/img/carousel/bannerHogarFamily.png" alt="" class="carousel__item__img">
                        <div class="exclusivOnline ">
                            <p class="title title--sl white exclusivotitle">INTERNET HOGAR + PRIMER MES GRATIS</p>
                            <p class="title title--l ftW ftBold white">AL MEJOR PRECIO</p>

                        </div>
                    </article>
                    <!-- END CAROUSEL ITEM -->

                    <!-- CAROUSEL ITEM -->
                    <article class="carousel__item">
                        <img src="/img/carousel/carousel-1.jpg" alt="" class="carousel__item__img">
                    </article>
                    <!-- END CAROUSEL ITEM -->
                </div>
                <!-- CAROUSEL INFO INFO-->
                <div class="owl-carousel carousel__info ">
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt27x mtM0">
                        <div class="carousel__info__content">
                            <!-- <span class="icon icon--iHome"></span> -->
                            <h2 class="title title--xxxm cyan ftMedium fsM25 mt20 mtM0 mbM5 fsM20">¡Oferta especial
                                exclusiva! </h2>
                            <h2 class="title title--xm cyan ftMedium fsM25 mt5 mtM0 mbM5 fsM20">Vigencia desde el 1 al
                                15 de Enero</h2>
                            <p class="text text--xxl gray2 mt20 lt1">Déjanos tu teléfono y te llamaremos en segundos</p>
                            <!-- <p class="text text--s gray fsI mt30">Vigencia desde el 01 al 30 de Abril</p> -->
                            <!-- FORM -->
                            <form action="" onsubmit="'/hogar/gracias'" method="post" class="form mt10"
                                id="form_contacto_hogar">
                                <!-- FORM BOX -->
                                <div class="form__box telGreen">
                                    <input type="number" placeholder="Ingresa tu número" class="form__input place"
                                        id="num_tel_hogar" required>
                                    <button type="submit" class="form__submit btn btn--flat">Contrátalo aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox1" class="form__checkbox"
                                        required>
                                    <label for="checkbox1" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm cyan taC ftBold mt20">¡Gracias por registrarte!</h2>
                            <p class="text gray taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                        <!-- END FORM -->
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt27x mtM0">
                        <div class="carousel__info__content">
                            <!-- <span class="icon icon--iHome"></span> -->
                            <h2 class="title title--xxxm cyan ftMedium fsM25 mt20 mtM0 mbM5 fsM20">¡Oferta especial
                                exclusiva!
                            </h2>
                            <h2 class="title title--xxm cyan ftMedium fsM25 mt5 mtM0 mbM5 fsM20">Vigencia desde el 1 al
                                15 de Enero</h2>
                            <p class="text text--xxl gray2 mt20 lt1">Déjanos tu télefono y te llamaremos en segundos</p>
                            <!-- <p class="text text--s gray fsI mt30">Vigencia desde el 1 al 30 de Abril</p> -->
                            <!-- FORM -->
                            <form action="" onsubmit="'/hogar/gracias'" method="post" class="form mt10"
                                id="form_contacto_hogar_slider">
                                <!-- FORM BOX -->
                                <div class="form__box telGreen">
                                    <input type="number" placeholder="Ingresa tu número" id="num_tel_hogar_slider"
                                        class="form__input place" required>
                                    <button type="submit" class="form__submit btn btn--flat">Contrátalo aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox2" class="form__checkbox"
                                        required>
                                    <label for="checkbox2" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm cyan taC ftBold mt20">¡Gracias por registrarte!</h2>
                            <p class="text gray taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->

                </div>
                <!-- END CAROUSEL INFO -->
                <div class="CopysBanner">
                    <div class="copy1">
                        <img src="/img/icons/copyBanner_1.png" alt="">
                    </div>
                    <div class="copy2">
                        <img src="/img/icons/copyBanner2_1.png" alt="">
                    </div>
                </div>
                <!-- CAROUSEL NAV -->
                <div class="carousel__nav"></div>
                <!-- END CAROUSEL NAV -->
            </section>
            <!-- END CAROUSEL -->
        </div>
        <!-- END BIG BOX -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--planes pt20">
            <!-- BIG BOX CONTAINER AND TABS -->
            <!-- TABS NAV -->
            <div class="bigBox__mini tabs__nav">
                <h2 class="w100 title title--xl ttU gray taC fsM35 mb15 mbM10">Nuestros planes</h2>
                <a href="#" class="ml15 mr15 mb5 tabs__nav__item active" data-tab="trio">10 megas</a>
                <a href="#" class="ml15 mr15 mb5 tabs__nav__item" data-tab="duo">6 megas</a>
            </div>

            <!-- END TABS NAV -->
            <!-- TABS CONTAINER -->
            <div class="tabs__container bkwhite">
                <div class="container container--limit bigBox__container tabs">
                    <!-- TABS BOX -->
                    <article class="tabs__box active" data-tab="trio">
                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--plan">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change bkcyan">
                                    <!-- <h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3> -->
                                    <h2 class="w100 plan__title title title--m ftBold ft19 fsM40 mtM5 ">INTERNET +
                                        TELEFONÍA
                                    </h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <h2 class="plan__title title title--m  fsM16 mtM5 w100 mt5">1 MES GRATIS</h2>
                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text white fsM14 taC mt5 ftBold"> </p>
                                    <p class="w100 text white fsM14 taC mt mb5">-10% Dto.</p>

                                </div>
                                <div class="plan__mini plan__mini--bb p20 ">
                                    <p class="title title--l fsM30 ftBold cyan taC lh1 ">$74.410 <span class="text--l">/
                                            mes</span></p>
                                    <p class="title text--s fsM30 ftBold cyan taC lh1 pt10 tdT">$124.920 <span
                                            class="text--xs">/ mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--cyan btn--hog">Conoce más</span>
                                    <span class="text text--m fsM18 gray mt10">Instalación <span
                                            class="text text-- ftBold fsM18 gray mt10">sin
                                            costo</sapan></span>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5 ftBold">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/pLiteCopy.png" alt="" class="mr5">
                                    <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p> -->
                                </div>
                                <div class="plan__mini plan__mini--bb  p20">
                                    <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                    <p class="text text--m fsM18 gray">Voz nacional ILIMITADA</p>
                                </div>
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p> -->
                                <!-- </div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change btn--cyan">
                                    <!-- <h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3> -->
                                    <h2 class="w100 plan__title title title--m ft19 fsM40 mtM5 ftBold">INTERNET + TV +
                                        TELEFONÍA
                                    </h2>
                                    <h2 class="plan__title title title--m  fsM16 mtM5 w100 mt5">3 MES GRATIS</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <!-- <h2 class="plan__title title title--m fsM16 mtM5 w100 mt5">de velocidad</h2> -->
                                </div>
                                <div class="promo20">
                                    <img src="/img/icons/20Promo.png" alt="">
                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text white fsM14 taC mt5 ftBold"> </p>
                                    <p class="w100 text white fsM14 taC mt mb5">-20% Dto.</p>

                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <!-- <p class="w100 text white fsM14 taC mt5 p3">-20% Dto. <span class="ftBold">Exclusivo Online</span></p> -->
                                    <!-- <p class="w100 text white fsM14 taC mt5 ftBold">Exclusivo Online</p> -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <p class="title title--l fsM30 ftBold green taC lh1 ">$103.900 <span
                                            class="text--xxm">/
                                            mes</span></p>
                                    <p class="title text--s fsM30 ftBold green taC lh1 pt10 tdT">$129.900 <span
                                            class="text--xs">/ mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                    <span class="text text--m fsM18 gray mt10">Movistar desde <span
                                            class="text text--m ftBold fsM18 gray mt10">86 canales</span></span>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/Mplay48c.png" alt="" class="mr15"> -->
                                    <p class="text text--xm gray fsM14 fwB taC"><span class="ftBold">Preferido + Fijo
                                            +Móvil</span></p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20" style="flex-direction: column;">
                                    <img src="/img/icons/play-lite.png" alt="" class="mr5">
                                    <p class="text text--s fsM18 gray">48 canales en vivo</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5"><span
                                            class="w100 text gray fsM14 taC mt5 ftBold">2 Decos</span> de Movistar TV
                                    </p>
                                </div>
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                <!-- <p class="text text--m fsM18 gray">Larga distancia nacional ilimitada</p> -->
                                <!-- </div> -->
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p> -->
                                <!-- </div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->

                        </section>
                        <!-- END CAROUSEL -->
                    </article>
                    <!-- END TABS BOX -->
                    <!-- TABS BOX -->
                    <article class="tabs__box" data-tab="duo">
                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--plan duoCarousel">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change bkcyan">
                                    <!-- <h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3> -->
                                    <h2 class="w100 plan__title title title--m ft19 fsM40 mtM5 ftBold">INTERNET +
                                        TELEFONÍA
                                    </h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <h2 class="plan__title title title--m fsM16 mtM5 w100 mt5 ">1 MES GRATIS</h2>
                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text white fsM14 taC mt5 ftBold"> </p>
                                    <p class="w100 text white fsM14 taC mt mb5">-10% Dto.</p>

                                </div>

                                <div class="plan__mini plan__mini--bb p20">
                                    <p class="title title--l fsM30 ftBold cyan taC lh1 ">$55.710 <span
                                            class="text--xxm">/
                                            mes</span></p>
                                    <p class="title text--s fsM30 ftBold cyan taC lh1 pt10 tdT">$61.900 <span
                                            class="text--xs">/ mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--cyan btn--hog">Conoce más</span>
                                    <span class="text text--m fsM18 gray mt10">Instalación <span
                                            class="text text--m ftBold fsM18 gray mt10">sin
                                            costo</span></span>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5 ftBold">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/pliteTV.png" alt="" class="mr5">
                                    <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p> -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                    <p class="text text--m fsM18 gray">Voz nacional ILIMITADA</p>
                                </div>
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p> -->
                                <!-- </div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change btn--cyan ">
                                    <!-- <h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3> -->
                                    <h2 class="w100 plan__title title title--m ft19 fsM40 mtM5 ftBold">INTERNET + TV +
                                        TELEFONÍA
                                    </h2>
                                    <h2 class="plan__title title title--m  fsM16 mtM5 w100 mt5">3 MES GRATIS</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <!-- <h2 class="plan__title title title--m fsM16 mtM5 w100 mt5">de velocidad</h2> -->
                                </div>
                                <div class="promo20">
                                    <img src="/img/icons/20Promo.png" alt="">
                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text white fsM14 taC mt5 ftBold"> </p>
                                    <p class="w100 text white fsM14 taC mt mb5">-20% Dto.</p>

                                </div>
                                <div class="plan__mini bkpurple">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <!-- <p class="w100 text white fsM14 taC mt5 p3">-20% Dto. <span class="ftBold">Exclusivo Online</span></p> -->
                                    <!-- <p class="w100 text white fsM14 taC mt5 ftBold">Exclusivo Online</p> -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <p class="title title--l fsM30 ftBold green taC lh1 ">$93.520 <span
                                            class="text--xxm">/
                                            mes</span></p>
                                    <p class="title text--s fsM30 ftBold green taC lh1 pt10 tdT">$116.900 <span
                                            class="text--xs">/ mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                    <span class="text text--m fsM18 gray mt10">Movistar desde <span
                                            class="text text--m ftBold fsM18 gray mt10">86 canales</span></span>
                                </div>

                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/Mplay48c.png" alt="" class="mr15"> -->
                                    <p class="w100 text gray fsM14 taC mt5 ftBold">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20" style="flex-direction: column;">
                                    <img src="/img/icons/play-lite.png" alt="" class="mr5">
                                    <p class="text text--s fsM18 gray">48 canales en vivo</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5"><span
                                            class="w100 text gray fsM14 taC mt5 ftBold">2 Decos</span> de Movistar TV
                                    </p>
                                </div>
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/Mtv81.png" alt="" class="mr5"> -->
                                <!-- <p class="text text--m fsM18 gray">Larga distancia nacional ilimitada</p> -->
                                <!-- </div> -->
                                <!-- <div class="plan__mini"> -->
                                <!-- <img src="/img/icons/2decos.png" alt="" class="mr5"> -->
                                <!-- <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p> -->
                                <!-- </div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->

                        </section>
                        <!-- END CAROUSEL -->
                    </article>
                    <!-- END TABS BOX -->
                </div>
                <!-- END TABS CONTAINER -->
                <!-- Terminos Acordion -->
                <div class="termsAcordion pt30 pd30">
                    <aside class="aside bkwhite">
                        <h3 class="titleTerms">Términos y Condiciones oferta Dúos Fija Nacional</h3>
                        <div class="contentTerms ">
                            <p class="tycmodalmoviles">
                                Oferta válida del 1 al 15 de Enero de 2020. Los cargos básicos del plan Full Hogar
                                (Línea Básica + Internet Fijo) no se cobrarán en la 1 primer factura que el usuario
                                recibirá después de la instalación de los servicios. Los servicios adicionales como SVAS
                                (Servicios de Valor Agregado), decodificadores y llamadas de larga distancia
                                internacional serán cobrados desde la primera factura. El plan de Línea Básica +
                                Internet Fijo de 10 Megas incluye el contenido de Movistar Play con 55 canales en vivo
                                que el cliente podrá disfrutar 48 horas hábiles después de su activación, si el cliente
                                alquila contenido de estreno o de adultos serán facturados de acuerdo con la tarifa
                                vigente. La oferta de 10 Megas aplica en estratos del 1 al 6 y en Bogotá, Chía y Soacha
                                la tarifa es de $65.410. El plan de Línea Básica + Internet Fijo de 6 Megas incluye sin
                                costo el contenido de Movistar Play con 2 canales en vivo que el cliente podrá disfrutar
                                48 horas hábiles después de su activación, si el cliente alquila contenido de estreno o
                                de adultos serán facturados de acuerdo con la tarifa vigente. El servicio preferido Fijo
                                + Móvil aplica para líneas Movistar en Prepago y Pospago, está incluido sin costo y
                                permite realizar llamadas entre un fijo Movistar y un móvil Movistar inscrito como
                                preferido en la línea 01 8000 930 930. La disponibilidad de los servicios que integran
                                la oferta está sujeta a las condiciones técnicas necesarias que se verifican al momento
                                de la instalación. Aplican condiciones y restricciones. Para más información consulta
                                www.movistar.co. Adicional al servicio de Internet fijo que adquieres, el modem que te
                                entregamos te permite crear una red local o zona WiFi  al interior de tu casa, para que
                                la administres y puedas conectar varios dispositivos. Encuentra más información para un
                                buen uso de tu red local en <a
                                    href="https://www.movistar.co/informacion/modem">https://www.movistar.co/informacion/modem</a>.
                            </p>
                            <!-- <a target="_blank"
								href="pdf/terminos_y_condiciones_planes_julio_2019.pdf">Ver más.</a> -->
                        </div>
                    </aside>
                    <aside class="aside bkwhite">
                        <h3 class="titleTerms">Términos y Condiciones oferta Tríos Fija Nacional</h3>
                        <div class="contentTerms ">
                            <p class="tycmodalmoviles">
                                Oferta válida del 1 al 15 de Enero de 2020. A los cargos básicos del plan Full Hogar
                                (Línea Básica + Internet Fijo + Televisión) aplican 3 meses gratis para todos los Tríos,
                                así: los 2 primeros meses gratis en los servicios
                                Oferta válida del 1 al 15 de Enero de 2020. A los cargos básicos del plan Full Hogar
                                (Línea Básica + Internet Fijo + Televisión) aplican 3 meses gratis para todos los Tríos,
                                así: los 2 primeros meses gratis en los servicios de LB + Internet Fijo + Televisión y
                                el mes 13 gratis si el cliente se encuentra activo con todos los servicios instalados
                                (LB + Internet Fijo + Televisión). Si el cliente realiza migración pierde los
                                beneficios. Se entrega como beneficio el 20% de descuento en los cargos básicos mientras
                                el cliente permanezca en el plan adquirido. Los servicios adicionales como SVAS
                                (Servicios de Valor Agregado), decodificadores y llamadas de larga distancia
                                internacional serán cobrados desde la primera factura. El cliente debe adquirir los
                                servicios del plan Full Hogar al mismo tiempo. El plan de 6 Megas y 10 Megas incluye dos
                                (2) decodificadores sin cobro. Los decodificadores adicionales se cobrarán al precio que
                                aplique al momento de solicitarlos. Las oferta de 10 Megas aplica en estratos del 1 al
                                6. Adicional al servicio de internet fijo que adquieres, el modem que te entregamos te
                                permite crear una red local o zona WiFi  al interior de tu casa, para que la administres
                                y puedas conectar varios dispositivos. Encuentra más información para un buen uso de tu
                                red local, en <a
                                    href="https://www.movistar.co/informacion/modem">https://www.movistar.co/informacion/modem</a>
                                El cliente puede acceder sin costo al contenido de Movistar Play en planes Full Hogar de
                                10 Megas, pero si alquila contenido de estreno o de adultos serán facturados de acuerdo
                                con la tarifa vigente. Podrá disfrutar de 58 canales en vivo en Movistar Play 48 horas
                                hábiles después de su activación. En la velocidad de 6 Megas y 10 Megas se incluyen
                                desde 86 canales en su plan de Televisión, si el cliente retira alguno de sus productos
                                o disminuye de velocidad, estos canales serán facturados al precio que aplique en ese
                                momento. El servicio preferido Fijo + Móvil aplica para líneas Movistar en Prepago y
                                Pospago, está incluido sin costo y permite realizar llamadas entre un fijo Movistar y un
                                móvil Movistar inscrito como preferido en la línea 01 8000 930 930. La disponibilidad de
                                los servicios que integran la oferta está sujeta a las condiciones técnicas necesarias
                                que se verifican al momento de la instalación. Aplican condiciones y restricciones.
                            </p>
                            <!-- <a target="_blank"
								href="pdf/terminos_y_condiciones_planes_julio_2019.pdf">Ver más.</a> -->
                        </div>
                    </aside>
                </div>
                <!-- END Terminos Acordion -->
            </div>
            <!-- END BIG BOX CONTAINER AND TABS -->
        </div>
        <!-- END BIG BOX -->

        <!-- BIG BOX -->
        <!-- <div class="bigBox bigBox--preferencial mb30"> -->
        <!-- BIG BOX CONTAINER -->
        <!-- <div class="container container--limit bigBox__container">
				<div class="bigBox__mini">
					<h2 class="w100 max400 title title--xxm cyan ftBold taC mb15 mlA mrA">Con Movistar Preferencial
						Black tienes:</h2>
				</div> -->
        <!-- BENEFITS BOX -->
        <!-- <div class="benefitsBox"> -->
        <!-- BENEFITS BOX ITEM -->
        <!-- <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="0">
						<img src="/img/icons/m-arena.svg" alt="" class="benefitsBox__item__img">
						<p class="w100 text gray2 taC">Preventa exclusiva de boletería.</p>
					</div> -->
        <!-- END BENEFITS BOX ITEM -->
        <!-- BENEFITS BOX ITEM -->
        <!-- <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="150">
						<img src="/img/icons/devices.svg" alt="" class="benefitsBox__item__img">
						<p class="w100 text gray2 taC">Bono de descuento para renovacion de celular.</p>
					</div> -->
        <!-- END BENEFITS BOX ITEM -->
        <!-- BENEFITS BOX ITEM -->
        <!-- <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="300">
						<img src="/img/icons/heart.svg" alt="" class="benefitsBox__item__img">
						<p class="w100 text gray2 taC">Atencion preferencias en call center.</p>
					</div> -->
        <!-- END BENEFITS BOX ITEM -->
        <!-- BENEFITS BOX ITEM -->
        <!-- <div class="benefitsBox__item" data-aos="zoom-in" data-aos-delay="450">
						<img src="/img/icons/gift.svg" alt="" class="benefitsBox__item__img">
						<p class="w100 text gray2 taC">Regalos.</p>
					</div> -->
        <!-- END BENEFITS BOX ITEM -->
        <!-- </div> -->
        <!-- END BENEFITS BOX -->
        <!-- </div> -->
        <!-- END BIG BOX CONTAINER -->
        <!-- </div> -->
        <!-- END BIG BOX -->

        <!-- BLOX BLUE -->
        <!-- <div class="boxBlue">
			<h1 class="boxBlue__title">¡Internet Fibra Movistar, único con velocidad Simétrica!</h1>
			<h3 class="boxBlue__subtitle">
				<img src="/img/icons/simetrica.png" alt="" > <span>Sube y baja a la misma velocidad</span>
			</h3>
		</div> -->
        <!-- END BOX BLUE -->

        <!-- BIG BOX SERVICIOS ADICIONALES -->
        <%- include('./partials/seviciosAdicionales.html'); %>

        <!-- FOOTER -->
        <%- include('./partials/footer.html'); %>
        <!-- END FOOTER -->
    </div>
    <!-- END GENERAL CONTAINER -->

    <!-- SCRIPTS -->
    <%- include('./partials/scripts.html'); %>

</body>

</html>