<!DOCTYPE html>
<html lang="es">

<head>
    <!-- HEAD -->
    <%- include('./partials/head.html'); %>
    <!-- END HEAD -->
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFQ3HK4" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="linkpospago">
        <a href="/portabilidad">
            <img src="/img/link/portabilidad.png" alt="">
        </a>
    </div>
    <!-- MODAL CALL -->
    <%- include('./partials/modalCall.html'); %>
    <!-- END MODAL CALL -->
    
    <!-- MODAL TERMINOS -->
    <%- include('./partials/modalTerminos/fibra.html'); %>
    <!-- END MODAL TERMINOS -->
    

    <!-- MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->
    <%- include('./partials/treatmentData.html'); %>
    <!-- END MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->

    <!-- LOADER -->
    <%- include('./partials/loader.html'); %>
    <!-- End LOADER -->
    <!-- GENERAL CONTAINER -->
    <div class="container container--general">
        <!-- HEADER -->
            <%- include('./partials/header.html'); %>
        <!-- END HEADER -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--intro">
            <!-- CAROUSEL -->
            <section class="carousel carousel--intro">
                <div class="owl-carousel carousel__core">
                    <!-- CAROUSEL ITEM -->
                    <!-- Las imagenes y los textos se añaden en un array de objetos en las rutas -->
                    <% for(var images of dataCarrusel) { %>
                        <article class="carousel__item">
                            <img src="<%= images.imgUrlDesktop %>" alt=""
                                class="carousel__item__img carousel__item__img__desktop">
                            <img src="<%= images.imgUrlMobile %>" alt=""
                                class="carousel__item__img carousel__item__img__mobile">
                            <div class="exclusivOnline ">
                                <% if(images.title != '') {%>
                                    <p class="title title--sl ttU ftBold white"><%= images.title %></p>
                                <% } %>
                                <% if(images.description_1 != '') {%>
                                    <p class="title title--sl ttU white"><%= images.description_1 %></p>
                                <% } %>
                                <% if(images.description_2 != '') {%>
                                    <p class="title title--l ftW ttU white"><%= images.description_2%></p>
                                <% } %>
                            </div>
                        </article>
                    <% } %>
                    <!-- END CAROUSEL ITEM -->
                </div>
                <!-- CAROUSEL INFO -->
                <div class="owl-carousel carousel__info">
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt27x mtM0">
                        <div class="carousel__info__content">
                            <!-- <span class="icon icon--iHome"></span> -->
                            <h2 class="title title--xxxm cyan ftMedium fsM25 mt20 mtM0 mbM5 fsM20">¡Oferta especial
                                exclusiva! </h2>
                            <h2 class="title title--xm cyan ftMedium fsM25 mt5 mtM0 mbM5 fsM20">Vigencia desde el 1 al
                                15 de Enero</h2>
                            <p class="text text--xxl gray2 mt20 lt1">Déjanos tu teléfono y te llamaremos en segundos</p>
                            <!-- <p class="text text--s gray fsI mt30">Vigencia desde el 01 al 30 de Abril</p> -->
                            <!-- FORM -->
                            <form action="" onsubmit="'/fibra/gracias'" method="post" class="form mt10" id="form_contacto_hogar">
                                <!-- FORM BOX -->
                                <div class="telGreen form__box">
                                    <input type="number" placeholder="Ingresa tu número" class="place form__input"
                                        id="num_tel_hogar" required>
                                    <button type="submit" class="form__submit btn btn--flat">Contrátalo aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox1" class="form__checkbox"
                                        required>
                                    <label for="checkbox1" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm cyan taC ftBold mt20">¡Gracias por registrarte!</h2>
                            <p class="text gray taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                        <!-- END FORM -->
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt27x mtM0">
                        <div class="carousel__info__content">
                            <!-- <span class="icon icon--iHome"></span> -->
                            <h2 class="title title--xxxm cyan ftMedium fsM25 mt20 mtM0 mbM5 fsM20">¡Oferta especial
                                exclusiva! </h2>
                            <h2 class="title title--xxm cyan ftMedium fsM25 mt5 mtM0 mbM5 fsM20">Vigencia desde el 1 al
                                15 de Enero</h2>
                            <p class="text text--xxl gray2 mt20 lt1">Déjanos tu teléfono y te llamaremos en segundos</p>
                            <!-- <p class="text text--s gray fsI mt30">Vigencia desde el 1 al 30 de Abril</p> -->
                            <!-- FORM -->
                            <form action="" onsubmit="'/fibra/gracias'" method="post" class="form mt10"
                                id="form_contacto_hogar_slider">
                                <!-- FORM BOX -->
                                <div class="telGreen form__box">
                                    <input type="number" placeholder="Ingresa tu número" id="num_tel_hogar_slider"
                                        class="place form__input" required>
                                    <button type="submit" class="form__submit btn btn--flat">Contrátalo aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox2" class="form__checkbox"
                                        required>
                                    <label for="checkbox2" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm cyan taC ftBold mt20">¡Gracias por registrarte!</h2>
                            <p class="text gray taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->
                </div>
                <!-- END CAROUSEL INFO -->
                <!-- sticker -->
                <div class="CopysBanner copFibra">
                    <div class="copy1">
                    </div>
                    <div class="copy3">
                        <img src="/img/icons/netflixNavidadPromo.png" alt="">
                    </div>
                </div>
                <!-- sticker END  -->
                <!-- sticker -->
                <div class="CopysBanner copFibra sticker">
                    <div class="copy3">
                        <img src="/img/icons/sticker2020.png" alt="">
                    </div>
                </div>
                <!-- sticker END  -->
                <!-- CAROUSEL NAV -->
                <div class="carousel__nav">
                </div>
                <!-- END CAROUSEL NAV -->
            </section>
            <!-- END CAROUSEL -->
        </div>
        <!-- END BIG BOX -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--planes c pt20">
            <!-- BIG BOX CONTAINER AND TABS -->
            <!-- TABS NAV -->
            <div class="bigBox__mini tabs__nav">
                <h2 class="w100 title title--xl ttU gray taC fsM35 mb15 mbM10">Nuestros planes</h2>
                <a href="#" class="ml15 mr15 mb5 tabs__nav__item active" data-tab="trio">Trio</a>
                <a href="#" class="ml15 mr15 mb5 tabs__nav__item" data-tab="duo">Duo</a>
            </div>

            <!-- END TABS NAV -->
            <!-- TABS CONTAINER -->
            <div class="tabs__container bkwhite">
                <div class="container container--limit bigBox__container tabs">
                    <div class="boxOferta headerPlanes">
                        <div class="headerPlanes__Box">
                            <div class="headerPlanes--img">
                                <img src="/img/icons/logoNetflix.png" alt="" class="planB__aImgMan">
                            </div>
                            <p>Recibe 3 meses de regalo</p>
                        </div>
                    </div>
                    <!-- TABS BOX -->
                    <article class="tabs__box active" data-tab="trio">
                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--plan">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change bkcyan">
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR ">50 megas</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <!-- <h2 class="plan__title title title--m fsM16 mtM5 w100 mt5">+2 Mes Gratis</h2> -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
                                    <p class="text gray fsM14 fwB ftBold">Movistar TV desde 86 canales</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz Nacional Ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/movistar.svg" alt="" class="mr5">
                                    <p class="text text--xxxm fsM18 gray">Play</p>
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold cyan taC lh1">$98.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--cyan btn--hog">Conoce más</span>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 3 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR ">100 megas</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
                                    <p class="text gray fsM14 fwB ftBold">Movistar TV desde 86 canales</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz Nacional Ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/movistar.svg" alt="" class="mr5">
                                    <p class="text text--xxxm fsM18 gray">Play</p>
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$132.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 3 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR ">200 megas</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
                                    <p class="text gray fsM14 fwB ftBold">Movistar TV desde 86 canales</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz Nacional Ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/movistar.svg" alt="" class="mr5">
                                    <p class="text text--xxxm fsM18 gray">Play</p>
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$157.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan br35 boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 3 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR ">300 megas</h2>
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
                                    <p class="text gray fsM14 fwB ftBold">Movistar TV desde 86 canales</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz Nacional Ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + móvil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/movistar.svg" alt="" class="mr5">
                                    <p class="text text--xxxm fsM18 gray">Play</p>
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$202.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->

                        </section>
                        <!-- END CAROUSEL -->
                    </article>
                    <!-- END TABS BOX -->
                    <!-- TABS BOX -->
                    <article class="tabs__box" data-tab="duo">
                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--plan duoCarousel">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan borderTop borderBottom boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change bkcyan">
                                    <!-- <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 1 MESES GRATIS</h2> -->
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR">50 megas</h2>
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                    <!-- <h2 class="plan__title title title--m fsM16 mtM5 w100 mt5">+2 Mes Gratis</h2>									 -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/MPlay-Lite.png" alt="" class="mr5">
                                    <!-- <p class="text text--xxxm fsM18 gray">Play</p> -->
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold cyan taC lh1">$70.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--gcyan btn--hog">Conoce más</span>
                                </div>
                                <!-- <div class="btn--10">
									<img src="/img/icons/10porCiento.png" alt="" class="mr5">
								</div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan borderTop borderBottom boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 1 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR">100 megas</h2>
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/MPlay-Lite.png" alt="" class="mr5">
                                    <!-- <p class="text text--xxxm fsM18 gray">Play</p> -->
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$92.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                                <!-- <div class="btn--10">
									<img src="/img/icons/10porCiento.png" alt="" class="mr5">
								</div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan borderTop borderBottom boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 1 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR">200 megas</h2>
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/MPlay-Lite.png" alt="" class="mr5">
                                    <!-- <p class="text text--xxxm fsM18 gray">Play</p> -->
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$139.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                                <!-- <div class="btn--10">
									<img src="/img/icons/10porCiento.png" alt="" class="mr5">
								</div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item plan plan--cyan borderTop borderBottom boxshadow mt15 mb15"
                                data-modal="request">
                                <div class="plan__top plan__top--change">
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">OBTÉN 1 MESES GRATIS</h2>
                                    <h2 class="ww100 plan__title title title--xl fsM40 mtM5 ftTR">300 megas</h2>
                                    <h2 class="plan__title text text--s fsM16 mtM5 w100 mt5">Velocidad Simétrica</h2>
                                    <!-- <span class="title--l">Megas</span>  -->
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
                                    <p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
                                    <p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
                                </div>
                                <div class="plan__mini plan__mini--bb ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/iconLDI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">30 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">LDI con el 009</p>
                                    </div>
                                </div>
                                <div class="plan__mini plan__mini--bb p20">
                                    <img src="/img/icons/MPlay-Lite.png" alt="" class="mr5">
                                    <!-- <p class="text text--xxxm fsM18 gray">Play</p> -->
                                </div>
                                <div class="plan__mini plan__mini--prominent borderBottom">
                                    <p class=" title  fsM30 ftBold gray taC lh1">$184.900 <span class="text--l">/
                                            mes</span></p>
                                    <span class=" max250 btn btn--flat mt20 btn--green btn--hog">Conoce más</span>
                                </div>
                                <!-- <div class="btn--10">
									<img src="/img/icons/10porCiento.png" alt="" class="mr5">
								</div> -->
                            </article>
                            <!-- END CAROUSEL ITEM -->
                        </section>
                        <!-- END CAROUSEL -->
                    </article>
                    <!-- END TABS BOX -->
                </div>
                <!-- END TABS CONTAINER -->

                <!-- Terminos Acordion -->
                <div class="termsAcordion pt30 pd30">
                    <aside class="aside bkwhite">
                        <h3 class="titleTerms">Términos y Condiciones</h3>
                        <div class="contentTerms ">
                            <p class="tycmodalmoviles scrolly">
                                Oferta válida desde el 1 al 15 de Enero de 2020. A los cargos básicos del plan Full
                                Hogar (Línea Básica, Internet Fijo y TV) aplican 3 meses gratis para todos los Tríos,
                                así: los 2 primeros meses gratis en los servicios de LB + Internet Fijo + Televisión y
                                el mes 13 gratis si el cliente se encuentra activo con todos los servicios instalados
                                (LB + Internet Fijo + Televisión). El cliente debe adquirir los 3 servicios del plan
                                Full Hogar al mismo tiempo. Las tarifas de referencia corresponden al estrato 2 al 6.
                                Los servicios adicionales como: Servicios de Valor Agregado, decodificadores y llamadas
                                de larga distancia internacional serán cobrados desde la primera factura. Las ofertas
                                incluyen dos (2) decodificadores sin cobro. Los decodificadores adicionales serán
                                facturados. La velocidad contratada depende de la cobertura y disponibilidad técnica de
                                la red de Fibra Óptica dentro de las ciudades. El equipo Repetidor WiFi Base Port será
                                facturado mensualmente por un valor de $3.000 IVA incluido por 36 meses.  El equipo
                                BasePort tendrá una garantía legal de 1 mes a partir de la fecha de la entrega del
                                equipo.  Como beneficio de fidelidad el cliente recibirá un mes de garantía extendida en
                                el equipo BasePort por cada mes que permanezca con el servicio de internet fijo, hasta
                                por 35 meses. Esta oferta incluye 30 minutos a Larga Distancia Internacional. Los
                                destinos que incluyen los 30 minutos a larga distancia internacional son: para llamadas
                                a destinos fijos y móviles – Venezuela, Canadá, Estados Unidos, Puerto Rico. Para
                                realizar las llamadas a destinos internacionales se debe marcar siempre por el 009. A
                                partir del minuto 31, cada minuto adicional se cobrara a la tarifa plena que aplique
                                dependiendo del destino. La promoción de hasta 3 meses gratis de Netflix es válida del
                                18 de noviembre de 2019 al 15 de enero de 2020 y aplica para velocidades de 100, 200 y
                                300 megas y tiene un valor de $74.700 que se aplicará a la suscripción para descontar
                                cada mes el valor del plan de Netflix hasta agotar los $74.700. Una vez que el monto del
                                obsequio se haya utilizado por completo, la suscripción a Netflix será facturada a
                                través del medio de pago que el cliente haya elegido en Netflix. El obsequio de Netflix
                                se puede redimir hasta el 30 de abril de 2020. Para disfrutar del servicio de Netflix se
                                requiere un dispositivo compatible con la plataforma (fabricado y vendido por separado)
                                y una conexión a internet de banda ancha o datos móviles.  No hay reembolsos ni créditos
                                por meses parciales. La oferta de Netflix no es canjeable ni reembolsable por dinero en
                                efectivo, está sometida a las leyes aplicables, y no se puede intercambiar por otras
                                suscripciones de regalo. Si ya eres miembro de Netflix, puedes aplicar el valor de la
                                oferta a tu membresía mensual de Netflix. El valor de la oferta puede aplicarse a un
                                plan diferente o a otros servicios ofrecidos por Netflix, estos cambios podrían alterar
                                la duración de la oferta. El precio de los planes del servicio de Netflix está sujeto a
                                cambios. El cliente podrá cancelar su servicio en cualquier momento a través de la
                                plataforma de Netflix. El servicio preferido Fijo + Móvil aplica para líneas Movistar en
                                Prepago y Pospago, está incluido sin costo y permite realizar llamadas entre un Fijo
                                Movistar y un Móvil Movistar inscrito como preferido en la línea 01 8000 930 930. La
                                disponibilidad de los servicios que integran la oferta está sujeta a las condiciones
                                técnicas necesarias que se verifican al momento de la instalación. Los clientes
                                residenciales que adquieran planes mayores o iguales a 100Megas de Fibra Óptica Full
                                Hogar serán considerados clientes Black en nuestro Programa Movistar Preferencial.
                                Conoce el programa y los beneficios únicos que tenemos para ti en <a
                                    href="www.movistar.co/preferencial.">www.movistar.co/preferencial.</a> Aplican
                                condiciones y restricciones. Adicional al servicio de Internet fijo que adquieres, el
                                modem que te entregamos te permite crear una red local o zona WiFi al interior de tu
                                casa, para que la administres y puedas conectar varios dispositivos. Encuentra más
                                información para un buen uso de tu red local en <a
                                    href="https://www.movistar.co/informacion/modem.">https://www.movistar.co/informacion/modem.</a>

                            </p>
                            <!-- <a target="_blank" href="pdf/terminos_y_condiciones_planes_julio_2019.pdf">Ver más.</a> -->
                        </div>
                    </aside>
                </div>
                <!-- END Terminos Acordion -->
                <!-- Cobertura -->
                <div class="termsAcordion pt30 pd30">
                    <aside class="aside1 bkwhite">
                        <h3 class="titleCobertura">Cobertura Fibra Óptica</h3>
                        <div class="contentTerms ">
                            <p class="tycmodalmoviles">Cobertura Fibra Óptica Localidades con cobertura: Cali, Jamundí,
                                Palmira, Bogotá, Chía, Zipaquirá, Cajicá, Soacha, Fusagasugá, Ibagué, Tunja, Santa
                                Marta, Barranquilla, Cartagena, Valledupar, Montería, Pasto, Los Patios, Villavicencio,
                                Cúcuta, Villa del Rosario, Neiva, Sincelejo, Piedecuesta, Girón, Bucaramanga,
                                Floridablanca, Soledad, Tuluá, Buenaventura e Ipales. La velocidad contratada depende de
                                la cobertura y disponibilidad técnica de la red dentro
                                de las ciudades

                            </p>
                            <!-- <a target="_blank" href="pdf/terminos_y_condiciones_planes_julio_2019.pdf">Ver más.</a> -->
                        </div>
                    </aside>
                </div>
                <!-- END Cobertura -->

            </div>
            <!-- END BIG BOX CONTAINER AND TABS -->
        </div>
        <!-- END BIG BOX -->

    </div>
    <!-- END GENERAL CONTAINER -->

    <!-- BOX INTERNET AL MAXIMO AND BOX BLUE -->
    <%- include('./partials/internetAlMaximo.html'); %>
    <!-- END BOX INTERNET AL MAXIMO AND BOX BLUE -->

    <!-- FOOTER -->
    <%- include('./partials/footer.html'); %>
    <!-- END FOOTER -->

    <!-- SCRIPTS -->
    <%- include('./partials/scripts.html'); %>
    <!-- END SCRIPTS -->

</body>

</html>