<!-- FIBRA -->

<div class="bigBox__mini">
	<h2 class="w100 title title--xl ttU gray taC fsM35 mb15 mbM10">Nuestros planes</h2>
	<a href="/" class="text text--xl fsM18 gray ttU ml20 mr20 mb5 active">fibra</a>
	<a href="/hogar" class="text text--xl fsM18 gray ttU ml20 mr20 mb5">Para tu hogar</a>
</div>
<!-- CAROUSEL -->
<section class="owl-carousel carousel carousel--plan">
	<!-- CAROUSEL ITEM -->
	<article class="carousel__item plan plan--cyan" data-modal="request">
		<div class="plan__top plan__top--change">
			<h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3>
			<h2 class="plan__title title title--xxl fsM40 mtM5">200</h2>
			<h2 class="plan__title title title--l fsM35 mtM5">Megas</h2>
			<h2 class="plan__title title title--xs fsM16 mtM5 w100 ts16">de Internet</h2>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
			<p class="text gray fsM14 fwB">Movistar TV desde 80 canales</p>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
			<p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
			<p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
		</div>
		<div class="plan__mini">
			<img src="/img/icons/movistar.svg" alt="" class="mr5">
			<p class="text text--xxxm fsM18 gray">Play</p>
		</div>
		<div class="plan__mini plan__mini--prominent">
			<p class="w100 title title--l fsM30 ftBold cyan taC lh1">$248.900</p>
			<p class="w100 text cyan fsM14 taC">mes</p>
		</div>
	</article>
	<!-- END CAROUSEL ITEM -->
	<!-- CAROUSEL ITEM -->
	<article class="carousel__item plan plan--cyan" data-modal="request">
		<div class="plan__top plan__top--change">
			<h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3>
			<h2 class="plan__title title title--xxl fsM40 mtM5">100</h2>
			<h2 class="plan__title title title--l fsM35 mtM5">Megas</h2>
			<h2 class="plan__title title title--xs fsM16 mtM5 w100 ts16">de Internet</h2>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
			<p class="text gray fsM14 fwB">Movistar TV desde 80 canales</p>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
			<p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
		</div>
		<div class="plan__mini">
			<!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
			<p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
		</div>
		<div class="plan__mini">
			<img src="/img/icons/movistar.svg" alt="" class="mr5">
			<p class="text text--xxxm fsM18 gray">Play</p>
		</div>
		<div class="plan__mini plan__mini--prominent">
			<p class="w100 title title--l fsM30 ftBold cyan taC lh1">$214.900</p>
			<p class="w100 text cyan fsM14 taC">mes</p>
		</div>

	</article>
	<!-- END CAROUSEL ITEM -->
	<!-- CAROUSEL ITEM -->
	<article class="carousel__item plan plan--orange" data-modal="request">
		<div class="plan__top plan__top--change">
			<h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3>
			<h2 class="plan__title title title--xxl fsM40 mtM5">50</h2>
			<h2 class="plan__title title title--l fsM35 mtM5">Megas</h2>
			<h2 class="plan__title title title--xs fsM16 mtM5 w100 ts16">de Internet</h2>
		</div>
		<div class="plan__mini">
				<!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
				<p class="text gray fsM14 fwB">Movistar TV desde 80 canales</p>
			</div>
			<div class="plan__mini">
				<!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
				<p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
			</div>
			<div class="plan__mini">
				<!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
				<p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
			</div>
			<div class="plan__mini">
				<img src="/img/icons/movistar.svg" alt="" class="mr5">
				<p class="text text--xxxm fsM18 gray">Play</p>
			</div>
		<div class="plan__mini plan__mini--prominent">
			<p class="w100 title title--l fsM30 ftBold cyan taC lh1">$154.900</p>
			<p class="w100 text cyan fsM14 taC">mes</p>
		</div>
	</article>
	<!-- END CAROUSEL ITEM -->
	<!-- CAROUSEL ITEM -->
	<article class="carousel__item plan plan--orange" data-modal="request">
		<div class="plan__top plan__top--change">
			<h3 class="plan__title title title--xs fsM16 mtM5 w100 ttU ts16">Preferencial BLACK</h3>
			<h2 class="plan__title title title--xxl fsM40 mtM5">30</h2>
			<h2 class="plan__title title title--l fsM35 mtM5">Megas</h2>
			<h2 class="plan__title title title--xs fsM16 mtM5 w100 ts16">de Internet</h2>
		</div>
		<div class="plan__mini">
				<!-- <img src="/img/icons/repeater.svg" alt="" class="mr15"> -->
				<p class="text gray fsM14 fwB">Movistar TV desde 80 canales</p>
			</div>
			<div class="plan__mini">
				<!-- <img src="/img/icons/movistar.svg" alt="" class="mr5"> -->
				<p class="text text--xxxm fsM18 gray">Voz nacional ilimitada</p>
			</div>
			<div class="plan__mini">
				<!-- <img src="/img/icons/decoder.svg" alt="" class="mr5"> -->
				<p class="w100 text gray fsM14 taC mt5">Preferido fijo + movil</p>
			</div>
			<div class="plan__mini">
				<img src="/img/icons/movistar.svg" alt="" class="mr5">
				<p class="text text--xxxm fsM18 gray">Play</p>
			</div>
		<div class="plan__mini plan__mini--prominent">
			<p class="w100 title title--l fsM30 ftBold cyan taC lh1">$137.900</p>
			<p class="w100 text cyan fsM14 taC">mes</p>
		</div>
	</article>
	<!-- END CAROUSEL ITEM -->
</section>
<!-- END CAROUSEL -->


<!-- INDEX -->