<!DOCTYPE html>
<html lang="es">

<head>
    <!-- HEAD -->
    <%- include('./partials/head.html'); %>
    <!-- END HEAD -->
</head>

<body>
    <div class="linkhogar">
        <a href="hogar">
            <img src="/img/link/hogar.png" alt="">
        </a>
    </div>

    <!-- MODAL CALL -->
    <%- include('./partials/modalCall.html'); %>
    <!-- END MODAL CALL -->

   <!-- MODAL TERMINOS -->
   <%- include('./partials/modalTerminos/portabilidad.html'); %>
   <!-- END MODAL TERMINOS -->

   <!-- MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->
   <%- include('./partials/treatmentData.html'); %>
   <!-- END MODAL POLITICAS DE TRATAMIENTOS DE DATOS -->

   <!-- LOADER -->
   <%- include('./partials/loader.html'); %>
   <!-- End LOADER -->

    <!-- GENERAL CONTAINER -->
    <div class="container container--general">
        <!-- HEADER -->
            <%- include('./partials/header.html'); %>
        <!-- END HEADER -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--intro">
            <!-- CAROUSEL -->
            <section class="carousel carousel--introB">
                <%- include('./partials/carruselBanners.html'); %>
                <!-- CAROUSEL INFO -->
                <div class="owl-carousel carousel__info">
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt95 mtM0">
                        <div class="carousel__info__content">
                            <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">Planes con más Gigas,
                            </h2>
                            <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más beneficios y Apps
                                incluidas.
                            </h2>
                            <!-- <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">y Apps.</h2> -->
                            <p class="text text--s white fsI mt10 mb10">Vigencia desde el 1 al 15 de Enero</p>
                            <!-- FORM -->
                            <form action="" onsubmit="'/portabilidad/gracias'" method="post"
                                class="form form--color mt10" id="form_contacto">
                                <!-- FORM BOX -->
                                <div class="form__box telBlue">
                                    <input type="number" id="num_tel" placeholder="Ingresa tu número"
                                        class="placeB form__input" required>
                                    <button type="submit" class="form__submit btn btn--flat brwhite">Contrátalo
                                        aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox1" class="form__checkbox"
                                        required>
                                    <label for="checkbox1" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm white taC ftBold">¡Gracias por registrarte!</h2>
                            <p class="text white taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                        <!-- END FORM -->
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->
                    <!-- CAROUSEL INFO CONTAINER -->
                    <article class="carousel__info__container mt95 mtM0">
                        <div class="carousel__info__content">
                            <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">Planes con más Gigas,
                            </h2>
                            <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más beneficios y Apps
                                incluidas.
                            </h2>
                            <!-- <h2 class="title title--l white ftMedium fsM25 lt1 mtM0 mbM5" id="tit">más fácil</h2> -->
                            <p class="text text--s white fsI mt10 mb10">Vigencia desde el 1 al 15 de Enero</p>
                            <!-- FORM -->
                            <form action="" onsubmit="'/portabilidad/gracias'" id="form_contacto_slider" method="post"
                                class="form form--color mt10">
                                <!-- FORM BOX -->
                                <div class="form__box telBlue">
                                    <input type="number" placeholder="Ingresa tu número" id="num_tel_slider"
                                        class="placeB form__input" required>
                                    <button type="submit" class="form__submit btn btn--flat brwhite">Contrátalo
                                        aquí</button>
                                </div>
                                <!-- END FORM BOX -->
                                <!-- FORM BOX -->
                                <div class="form__box mt10">
                                    <input type="checkbox" name="personal-data" id="checkbox2" class="form__checkbox"
                                        required>
                                    <label for="checkbox2" class="form__label--ch">Autorizo el <span
                                            class="tdU pl3 pr3 cuP" data-modal="data">tratamiento de datos</span>
                                        personales</label>
                                </div>
                                <!-- END FORM BOX -->
                            </form>
                            <!-- END FORM -->
                        </div>
                        <div class="carousel__info__message">
                            <h2 class="title title--xxm white taC ftBold">¡Gracias por registrarte!</h2>
                            <p class="text white taC mt5">Pronto nos comunicaremos contigo.</p>
                        </div>
                    </article>
                    <!-- END CAROUSEL INFO CONTAINER -->
                </div>
                <!-- END CAROUSEL INFO -->
                <!-- BANNER PROMO -->
                <div class="bannerPromo" data-modal="request">
                </div>
                <div class="bannerPromo" data-modal="request">
                    <img src="/img/icons/beneficios.png" alt="" class="planB__aImgMan--min">
                    <img src="/img/icons/unaSolafactura.png" alt="" class="planB__aImgMan--min">
                    <img src="/img/icons/bandera.png" alt="" class="planB__aImgMan">
                </div>
                <!-- END BANNER PROMO -->
                <!-- CAROUSEL NAV -->
                <div class="carousel__nav"></div>
                <!-- END CAROUSEL NAV -->
            </section>
            <!-- END CAROUSEL -->
        </div>
        <!-- END BIG BOX -->

        <!-- BIG BOX -->
        <div class="bigBox bigBox--planesB pt50">
            <!-- BIG BOX CONTAINER -->
            <div class="container container--limit bigBox__container">
                <div class="bigBox__mini">
                    <h2 class="w100 title title--xl gray taC fsM35 mb15 mbM10">Nuevos planes Pospago</h2>
                </div>
                <!-- SELECT PLANS -->
                <div class="select__plans">
                    <div class="select__plans__btn">
                        <p class="planF selectPlan">Planes Familia y Amigos</p>
                    </div>
                    <div class="select__plans__btn">
                        <p class="planI unselectPlan">Planes individuales</p class="">
                    </div>
                </div>
                <!-- PLANS FAMILY-->
                <div class="family">
                    <div class="plan__desktop">
                        <div class="boxOferta headerPlanes boxOferta--netflix">
                            <div class="headerPlanes__Box">
                                <div class="headerPlanes--img">
                                    <img src="/img/icons/logoNetflix.png" alt="" class="planB__aImgMan">
                                </div>
                                <p>Recibe 3 meses de regalo *</p>
                            </div>
                        </div>
                        <!-- CAROUSEL -->
                        <section class="ppw-carousel carousel carousel--planB familia">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__item planB bgreen" data-modal="request">
                                <!-- <div class="boxOferta">
                                        <img src="/img/icons/netflix.png" alt="" class="planB__aImgMan p10-20">
                                    </div> -->
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">80 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigas80.png" alt="" class="planB_imagen pt10 pasaG">

                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$269.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class=" max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan ">mes</span> -->

                                </div>
                                <div class="planB__mini ">
                                    <div class="planB__mini--boxImg2">
                                        <img src="/img/icons/clientePreferencial2.png" alt=""
                                            class="planB_imagen planB_imagen_cliente">
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Premium</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">12 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__item planB bgreen" data-modal="request">
                                <!-- <div class="boxOferta">
                                        <img src="/img/icons/netflix.png" alt="" class="planB__aImgMan p10-20">
                                    </div> -->
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">60 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigas60.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold ">$229.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class=" max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan ">mes</span> -->
                                </div>
                                <div class="planB__mini ">
                                    <div class="planB__mini--boxImg2">
                                        <img src="/img/icons/clientePreferencial2.png" alt=""
                                            class="planB_imagen planB_imagen_cliente">
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Premium</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">12 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__item planB bgreen" data-modal="request">
                                <!-- <div class="boxOferta">
                                        <img src="/img/icons/netflix.png" alt="" class="planB__aImgMan p10-20">
                                    </div> -->
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">40 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/PasaGigas40.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold ">$169.990<span
                                            class="text text--m">/mes</span></p>
                                    <!-- <span class="mes2 text text--xxm cyan">mes</span> -->
                                    <span class=" max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                </div>
                                <div class="planB__mini ">
                                    <div class="planB__mini--boxImg2">
                                        <img src="/img/icons/clientePreferencial2.png" alt=""
                                            class="planB_imagen planB_imagen_cliente">
                                    </div>
                                </div>
                                <div class="planB__mini mtr5">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Premium</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">12 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                        </section>
                    </div>
                    <div class="plan__mobile">
                        <div class="boxOferta headerPlanes">
                            <div class="headerPlanes__Box">
                                <div class="headerPlanes--img">
                                    <img src="/img/icons/logoNetflix.png" alt="" class="planB__aImgMan">
                                </div>
                                <p>Recibe 3 meses de regalo *</p>
                            </div>
                        </div>

                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--planB">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <!-- <div class="boxOferta">
                                    <img src="/img/icons/netflix.png" alt="" class="planB__aImgMan p10-20">
                                </div> -->
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">80 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigas80.png" alt="" class="planB_imagen pt10 pasaG">

                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$269.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class=" max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan ">mes</span> -->

                                </div>
                                <div class="planB__mini ">
                                    <div class="planB__mini--boxImg2">
                                        <img src="/img/icons/clientePreferencial2.png" alt=""
                                            class="planB_imagen planB_imagen_cliente">
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Premium</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">12 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <!-- <div class="boxOferta">
                                    <img src="/img/icons/netflix.png" alt="" class="planB__aImgMan p10-20">
                                </div> -->
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">60 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigas60.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold ">$229.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class=" max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan ">mes</span> -->
                                </div>
                                <div class="planB__mini ">
                                    <div class="planB__mini--boxImg2">
                                        <img src="/img/icons/clientePreferencial2.png" alt=""
                                            class="planB_imagen planB_imagen_cliente">
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Premium</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">12 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                    </div>

                </div>
                <!-- END PLANS FAMILY -->
                <!--PLANS INDIVIDUAL -->
                <div class="individual hidden">
                    <div class="plan__desktop">
                        <div class="boxOferta headerPlanes">
                            <div class="headerPlanes__Box">
                                <p>Primer mes gratis</p>
                            </div>
                        </div>
                        <!-- CAROUSEL -->
                        <section class="ppw-carousel carousel carousel--planB individual">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__itemI planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">28 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$99.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan">mes</span> -->
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Lite</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">6 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__itemI planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">19 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$85.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan">mes</span> -->

                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Lite</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">3 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__itemI planB bgreen" data-modal="request">
                                <div class="mesGratis bkgreen">
                                    <p class="ftBold text--xl">1 Mes GRATIS</p>
                                </div>
                                <div class="boxOferta">
                                    <span class="green">¡OFERTA EXCLUSIVA ONLINE!</span>
                                    <img src="/img/block/man.png" alt="" class="planB__aImgMan">
                                </div>
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 ftBold mtM5 ">12 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--s fsM25 mt20 gray4 taC tdL lh1 mb5">$75.990/mes</p>
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1  pbM5 ftBold">$70.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes text text--xxm purple">mes</span> -->
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">1 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item ppw-carousel__itemI planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">8 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$61.990<span
                                            class="text text--m">/mes</span></p>
                                    <!-- <span class="mes text text--xxm cyan">mes</span> -->
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">1 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                        </section>
                    </div>
                    <div class="plan__mobile">
                        <div class="boxOferta headerPlanes">
                            <div class="headerPlanes__Box">
                                <p>Primer mes gratis</p>
                            </div>
                        </div>
                        <!-- CAROUSEL -->
                        <section class="owl-carousel carousel carousel--planB">
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">28 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$99.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan">mes</span> -->
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRoaming1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText" style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Roaming de datos</p>
                                        <p class="boxText--Subtitle fcolorB">Disfruta tus Gigas hasta en 61 países</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Lite</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">6 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutos.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Minutos Ilimitados</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMinutosI.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <p class="boxText--Subtitle fcolorB">a América Latina y España</p>
                                    </div>
                                </div>

                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">19 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$85.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes2 text text--xxm cyan">mes</span> -->

                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconMovistarM.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Movistar Música</p>
                                        <p class="boxText--Subtitle fcolorB">Lite</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">3 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>
                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <div class="boxOferta">
                                    <span class="green">¡OFERTA EXCLUSIVA ONLINE!</span>
                                    <img src="/img/block/man.png" alt="" class="planB__aImgMan">
                                </div>
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 ftBold mtM5 ">12 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--s fsM25 mt20 gray4 taC tdL lh1 mb5">$75.990/mes</p>
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1  pbM5 ftBold">$70.990<span
                                            class="text text--m">/mes</span></p>
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                    <!-- <span class="mes text text--xxm purple">mes</span> -->
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">1 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>

                            <!-- END CAROUSEL ITEM -->
                            <!-- CAROUSEL ITEM -->
                            <article class="carousel__item planB bgreen" data-modal="request">
                                <div class="planB__top bkgreen">
                                    <h2 class="planB__title title title--l fsM35 mtM5 ftBold ">8 GB</h2>
                                    <h2 class="plan__title text text--xxxm  fsM16">de Internet</h2>
                                    <img src="/img/icons/IconPasaGigasPe.png" alt="" class="planB_imagen pt10 pasaG">
                                </div>
                                <div class="planB__mini planB__mini--prominent">
                                    <p class="w100 title title--xxm fsM40 gray4 taC lh1 mt10 pbM5 ftBold">$61.990<span
                                            class="text text--m">/mes</span></p>
                                    <!-- <span class="mes text text--xxm cyan">mes</span> -->
                                    <span class="max250 btn btn--flat mt10 bkgreen">Compra aquí</span>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconPasaGigasPe1.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">Pasa Gigas</p>
                                        <p class="boxText--Subtitle fcolorB">Pide y comparte tus datos</p>
                                        <p class="boxText--Subtitle fcolorB">con quién quieras.</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/IconRappi.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 66%;">
                                        <p class="boxText--Title fcolorB">RappiPrime</p>
                                        <p class="boxText--Subtitle fcolorB">1 meses gratis</p>
                                    </div>
                                </div>
                                <div class="planB__mini mtr5  ">
                                    <div class="planB__mini--boxImg">
                                        <img src="/img/icons/bandera-vene.png" alt="" class="planB_imagen">
                                    </div>
                                    <div class="planB__mini--boxText " style="width: 65%;">
                                        <p class="boxText--Title fcolorB">500 Minutos</p>
                                        <!-- <p class="boxText--Subtitle fcolorB">Ilimitados</p> -->
                                    </div>
                                </div>
                            </article>

                            <!-- END CAROUSEL ITEM -->
                        </section>
                    </div>
                </div>
                <!-- END PLANS FAMILY -->
                <div class="bigBox__mini mt20">
                    <p class="w100 gray taC fsM35 mb15 mbM10">*Los 3 meses de regalo de Netflix aplican exclusivamente
                        para planes de 80GB, 60GB y 40GB.</p>
                </div>

                <div class="boxOferta">
                    <!-- <img src="/img/icons/footerCarousel.png" alt="" class="planB__aImgMan p10-20"> -->
                    <picture>
                        <source media="(max-width: 767px)" srcset="/img/icons/footerCarouselMobile.png">
                        <img src="/img/icons/footerCarousel.png" alt="" class="planB__aImgMan p10-20">
                    </picture>
                </div>


                <!-- END CAROUSEL -->
            </div>
            <!-- Terminos Acordion -->
            <div class="termsAcordion">
                <aside class="aside">
                    <h3 class="titleTerms">Términos y condiciones Planes Familia y Amigos</h3>
                    <div class="contentTerms scroll">
                        <p class="tycmodalmoviles">
                            Oferta de planes válida para clientes individuales del 1 al 15 de Enero de 2020. Una vez
                            consumida la capacidad de datos del plan el cliente podrá seguir navegando sin costo en las
                            apps y redes sociales descritas en la publicidad. Para disfrutar el servicio de Larga
                            distancia internacional el cliente deberá marcar el 009 como código de salida de LDI +
                            Código país + Código de área + número telefónico, las llamadas realizadas con códigos de
                            salida diferentes al 009 serán facturadas como adicionales de acuerdo con las tarifas
                            vigentes. Todos los planes podrán compartir datos para navegar en internet con otros
                            dispositivos cercanos encendiendo el wifi de su teléfono móvil, Movistar podrá restringir o
                            ajustar sin previo aviso la compartición de datos a otros dispositivos cercanos. El servicio
                            de Pasa Gigas podrá ser utilizado únicamente a través de la App Mi Movistar y entre planes
                            que esté incluido este servicio. El servicio de Roaming de datos podrá ser utilizado en 61
                            países donde Movistar tiene cobertura y las Gigas consumidas en el exterior descontarán de
                            la capacidad de datos contratada en Colombia. Para disfrutar del beneficio de roaming de
                            datos, el cliente debe solicitar expresamente y al momento de adquirir el presente plan, la
                            activación permanente del servicio de Roaming Internacional. Los servicios de Voz y los SMS
                            en Roaming Internacional, se cobrarán a la tarifa vigente. El valor de los planes
                            corresponde a los servicios de Voz y Datos, en los planes también se incluyen servicios y
                            aplicaciones sin costo y su disponibilidad está sujeta a retiros o cambios que se
                            comunicarán previamente. Esta oferta no es acumulable con otras ofertas de GB adicionales
                            y/o promocionales. Movistar no se hace responsable por los servicios prestados a través de
                            las Apps de terceros incluidas en los planes. <br><br>
                            Oferta 3 meses gratis de Netflix incluida en planes familia y amigos válida del 1 al 15 de
                            Enero. La promoción de hasta 3 meses gratis de Netflix aplica para planes pospago familia y
                            amigos y tiene un valor de $74.700 que se aplicará a la membresía para descontar cada mes el
                            valor del plan de Netflix. Este monto aplica para el plan de streaming de dos (2) pantallas
                            con HD disponible. Los meses sin costo de Netflix se otorgan solo si el cliente activa la
                            suscripción en la plataforma de Netflix a través de Movistar Play. Una vez que el monto del
                            obsequio se haya utilizado por completo, la suscripción a Netflix será facturada a través
                            del medio de pago que el cliente haya elegido en Netflix. El obsequio de Netflix se puede
                            redimir solo hasta el 30 de abril de 2020. Para disfrutar del servicio de Netflix se
                            requiere un dispositivo compatible con la plataforma (fabricado y vendido por separado) y
                            una conexión a internet de banda ancha o datos móviles.  No hay reembolsos ni créditos por
                            meses parciales. La oferta de Netflix no es canjeable ni reembolsable por dinero en
                            efectivo, está sometida a las leyes aplicables, y no se puede intercambiar por otras
                            suscripciones de regalo. Si ya eres miembro de Netflix, puedes aplicar el valor de la oferta
                            a tu membresía mensual de Netflix. El valor de la oferta puede aplicarse a un plan diferente
                            o a otros servicios ofrecidos por Netflix, estos cambios podrían alterar la duración de la
                            oferta. El precio de los planes del servicio de Netflix está sujeto a cambios. El cliente
                            podrá cancelar su servicio en cualquier momento a través de la plataforma de Netflix. Para
                            mas información visita <a href="www.movistar.co">www.movistar.co</a>
                        </p>
                    </div>
                </aside>
                <aside class="aside">
                    <h3 class="titleTerms">Términos y Condiciones Para Portabilidad</h3>
                    <div class="contentTerms scroll">
                        <p class="tycmodalmoviles">
                            Oferta de planes válida para clientes individuales del 1 al 15 de Enero de 2020. Una vez
                            consumida la capacidad de datos del plan el cliente
                            podrá seguir navegando sin costo en las apps y redes sociales descritas en la publicidad.
                            Para disfrutar el servicio de Larga distancia internacional
                            el cliente deberá marcar el 009 como código de salida de LDI + Código país + Código de área
                            + número telefónico, las llamadas realizadas con
                            códigos de salida diferentes al 009 serán facturadas como adicionales de acuerdo con las
                            tarifas vigentes. Todos los planes podrán compartir datos
                            para navegar en internet con otros dispositivos cercanos encendiendo el wifi de su teléfono
                            móvil, Movistar podrá restringir o ajustar sin previo aviso
                            la compartición de datos a otros dispositivos cercanos. El servicio de Pasa Gigas podrá ser
                            utilizado únicamente a través de la App Mi Movistar y
                            entre planes que esté incluido este servicio. El servicio de Roaming de datos podrá ser
                            utilizado en 61 países donde Movistar tiene cobertura y las
                            Gigas consumidas en el exterior descontarán de la capacidad de datos contratada en Colombia.
                            Para disfrutar del beneficio de roaming de datos, el
                            cliente debe solicitar expresamente y al momento de adquirir el presente plan, la activación
                            permanente del servicio de Roaming Internacional. Los
                            servicios de Voz y los SMS en Roaming Internacional, se cobrarán a la tarifa vigente. El
                            valor de los planes corresponde a los servicios de Voz y
                            Datos, en los planes también se incluyen servicios y aplicaciones sin costo y su
                            disponibilidad está sujeta a retiros o cambios que se comunicarán
                            previamente. Esta oferta no es acumulable con otras ofertas de GB adicionales y/o
                            promocionales. Movistar no se hace responsable por los
                            servicios prestados a través de las Apps de terceros incluidas en los planes.

                            Oferta 3 meses gratis de Netflix incluida en planes familia y amigos válida del 1 al 15 de
                            Enero. La promoción de
                            hasta 3 meses gratis de Netflix aplica para planes pospago familia y amigos y tiene un valor
                            de $74.700 que se aplicará a la membresía para
                            descontar cada mes el valor del plan de Netflix. Este monto aplica para el plan de streaming
                            de dos (2) pantallas con HD disponible. Los meses sin
                            costo de Netflix se otorgan solo si el cliente activa la suscripción en la plataforma de
                            Netflix a través de Movistar Play. Una vez que el monto del
                            obsequio se haya utilizado por completo, la suscripción a Netflix será facturada a través
                            del medio de pago que el cliente haya elegido en Netflix. El
                            obsequio de Netflix se puede redimir solo hasta el 30 de abril de 2020. Para disfrutar del
                            servicio de Netflix se requiere un dispositivo compatible con
                            la plataforma (fabricado y vendido por separado) y una conexión a internet de banda ancha o
                            datos móviles. No hay reembolsos ni créditos por
                            meses parciales. La oferta de Netflix no es canjeable ni reembolsable por dinero en
                            efectivo, está sometida a las leyes aplicables, y no se puede
                            intercambiar por otras suscripciones de regalo. Si ya eres miembro de Netflix, puedes
                            aplicar el valor de la oferta a tu membresía mensual de Netflix.
                            El valor de la oferta puede aplicarse a un plan diferente o a otros servicios ofrecidos por
                            Netflix, estos cambios podrían alterar la duración de la
                            oferta. El precio de los planes del servicio de Netflix está sujeto a cambios. El cliente
                            podrá cancelar su servicio en cualquier momento a través de la
                            plataforma de Netflix. Para mas información visita www.movistar.co
                        </p>
                        <!-- <a target="_blank" href="pdf/terminos_y_condiciones_planes_julio_2019.pdf">Ver más.</a> -->
                    </div>
                </aside>
                <aside class="aside">
                    <h3 class="titleTerms">Términos y Condiciones Beneficio RappiPrime</h3>
                    <div class="contentTerms scroll">
                        <p class="tycmodalmoviles">
                            <strong>CONDICIONES DE ENTREGA DEL BENEFICIO:</strong>
                            <p>a)<span> Promocion válida del 1 al 15 de Enero de 2020</span></p>
                            <p>b)<span> El beneficio de RappiPrime aplica para clientes nuevos y actuales del segmento
                                    individual con
                                    planes pospago desde $58.990:</span></p>
                            <div class="divTable mt15">
                                <div class="divTableBody">
                                    <div class="divTableRow">
                                        <div class="divTableCell ftBold taC">Plan Pospago</div>
                                        <div class="divTableCell ftBold taC">Beneficio Rappi Prime</div>
                                    </div>
                                    <div class="divTableRow">
                                        <div class="divTableCell">Desde $58.990 hasta $85.989</div>
                                        <div class="divTableCell taC">1 Mes Gratis</div>
                                    </div>
                                    <div class="divTableRow">
                                        <div class="divTableCell">Desde $85.990 hasta $99.989</div>
                                        <div class="divTableCell taC">3 Meses Gratis</div>
                                    </div>
                                    <div class="divTableRow">
                                        <div class="divTableCell">Desde $99.990 hasta $139.989</div>
                                        <div class="divTableCell taC">6 Meses Gratis</div>
                                    </div>
                                    <div class="divTableRow">
                                        <div class="divTableCell">>= $139.990;</div>
                                        <div class="divTableCell taC">12 Meses Gratis</div>
                                    </div>
                                </div>
                            </div>
                            <p class="mt15">c)
                                <span> El servicio de RappiPrime aplica en Bogotá, Medellín, Cali, Barranquilla,
                                    Cartagena,
                                    Bucaramanga y Pereira donde Rappi tenga cobertura</span>
                            </p>
                            <p>Para activar el beneficio, el cliente recibirá un mensaje de texto en un tiempo máximo 2
                                días hábiles después de la activación del plan ó contacto del cliente actual a través de
                                los canales de atención. El mensaje de texto
                                contiene el cupón promocional el cual es personal e intransferible y tiene una vigencia
                                de 30 días calendario a partir de la fecha del envío. El servicio de domicilio gratis,
                                RappiPrime aplica a partir de órdenes de productos
                                de mínimo $10.000 pagando con tarjeta de crédito registrada en la aplicación.
                            </p>
                            <p>d)<span> Un cliente que haya redimido el beneficio no podrá redimir un nuevo beneficio,
                                    es decir, cada
                                    cliente tendrá un único cupón disponible por una sola vez para redimir en la
                                    AppRappi.</span></p>
                            <p>e)<span> Movistar no se hace responsable por los servicios prestados a través de la
                                    appRappi.</span></p>
                            <strong>TERMINOS Y CONDICIONES DE RAPPIPRIME</strong>
                            <p>a)<span> El servicio RappiPrime no aplica en pedidos realizados por medio de la sección
                                    RappiFavor/Diligencias o en el recargo por distancias superiores a 4km en la sección
                                    "Lo que
                                    sea".</span></p>
                            <p>b)<span> Elservicio de domicilio gratis, RappiPrime aplica a partirde órdenes de
                                    productos de mínimo
                                    $10.000 pagando con tarjeta de crédito registrada en la aplicación, no es válido
                                    para pagos
                                    con datáfono. Para pedidos por un valor inferior al anterior, se cobrará el valor
                                    del servicio
                                    de domicilio al usuario en cada orden. En la sección de antojos/lo que
                                    quieras/cualquier
                                    cosa, se cobrará un porcentaje adicional sobre la base del total de los productos
                                    solicitados.
                                    Dicho porcentaje se exhibirá al momento de realizar la orden y con la solicitud de
                                    la misma
                                    se entenderá aceptado por el usuario. En la sección de cajero ATM,se cobrará un
                                    porcentaje
                                    adicional correspondiente a la tasa de adquirencia que le cobra la entidad bancaria
                                    a Rappi
                                    por la transferencia interbancaria del dinero.</span></p>
                            <p>c)<span> La tarifa y las condiciones de RappiPrime pueden ser modificadas unilateralmente
                                    por Rappi
                                    en cualquier momento. No obstante, dichas modificaciones no se aplicarán a los
                                    miembros
                                    vigentes de RappiPrime. Así, los cambios únicamente aplicarán en el momento en que
                                    el
                                    usuario los acepte al momento de renovar su membresía. En caso de no estar de
                                    acuerdo
                                    con las modificaciones, se respetarán las condiciones anteriores hasta que cumpla la
                                    vigencia de treinta (30) días. Si no deseas continuar con la membresía, recuerda que
                                    puedes
                                    modificar tus preferencias y/o cancelar el servicio en la sección de RappiPrime en
                                    el Home
                                    del App</span></p>
                            <p>d)<span> Cualquier membresía nueva o renovada de RappiPrime estará sujeta a los términos
                                    y
                                    condiciones vigentes en ese momento, los cuales se le exhibirán al usuario en el
                                    momento
                                    en el que realice la suscripción. También podemos hacer cambios con respecto a las
                                    membresías vigentes de RappiPrime. En ese caso, le proporcionaremos un aviso al
                                    usuario
                                    informando que hubo cambios y a partir de cuándo surtiránefecto.</span></p>
                            <p>e)<span> Rappi comprende que el tiempo de sus usuarios es valioso y limitado y que los
                                    mismos
                                    tienen múltiples ocupaciones y asuntos que atender en su día a día. Por esta razón,
                                    mediante la aceptación de estos términos y condiciones, la membresía de RappiPrime
                                    se
                                    RENOVARÁ AUTOMÁTICAMENTE Y LA CUOTA DE MEMBRESÍA APLICABLE SERÁ
                                    AUTOMATICAMENTE DEBITADA DE SU TARJETA DE CRÉDITO. Si el usuario desea que la
                                    membresía no se renueve automáticamente, éste puede cancelar el valor predeterminado
                                    en la configuración de su cuenta cuando lo desee.</span></p>
                            <p>f)<span> El usuario puede cancelar su membresía de RappiPrime en cualquier momento en la
                                    sección
                                    de RappiPrime dentro de la plataforma Rappi. Si el usuario cancela RappiPrime, dicha
                                    membresía dejará de renovarse automáticamente. No se aceptan reembolsos de
                                    RappiPrime ya cobrados.
                                </span></p>
                            <p>g)<span> Ocasionalmente, Rappi ofrece a algunos usuarios membresías de prueba u otras
                                    promociones de RappiPrime. Estas membresías de prueba o promocionales están sujetasa
                                    estos mismos términos y condiciones, salvo que se indique lo contrario en la oferta
                                    promocional específica. Solo se dispone de un miembro de prueba o promocional por
                                    usuario en caso de que sea seleccionado. Rappi le facturará la tarifa aplicable
                                    después de
                                    que su período de prueba gratuita haya expirado. Si el usuario cancela RappiPrime
                                    antes de
                                    que expire el período de prueba, Rappi no le realizará ningúncobro.</span></p>
                            <p>h)<span> La membresía de RappiPrime no puede ser transferida o cedida a otro usuario
                                    deRappi.</span></p>
                            <p>i)<span> Rappi se reserva el derecho de aceptar, rechazar o cancelar la membresía de
                                    RappiPrime en
                                    cualquier momento a su libre discreción. Si Rappi cancela la membresía de
                                    RappiPrime, el
                                    usuario recibirá un reembolso, el cual corresponderá al valor proporcional de la
                                    tarifa de
                                    membresía de los días del mes restantes después de la cancelación.</span></p>
                            <p>j)<span> El servicio de membresía de RappiPrime se rige por estos términos especiales,
                                    así como por
                                    los términos y condiciones generales de Rappi y su Política de tratamientos de datos
                                    personales.</span></p>
                        </p>
                    </div>
                </aside>
                <aside class="aside">
                    <h3 class="titleTerms">Términos y Condiciones Portabilidad Primer Mes Gratis</h3>
                    <div class="contentTerms ">
                        <p class="tycmodalmoviles">Oferta del primer mes gratis de portabilidad válida del 1 al 15 de
                            Enero de 2020. Oferta exclusiva para clientes que realicen portabilidad a través del canal
                            online. El primer pago se realizará al mes siguiente del mes gratis.</p>
                    </div>
                </aside>
            </div>
            <!-- END Terminos Acordion -->

            <!-- END BIG BOX CONTAINER -->
        </div>
        <!-- END BIG BOX -->
        
        <!-- CELULARES BIG BOX -->
            <%- //include('./partials/celulares.html')%>
        <!-- END CELULARES BIG BOX -->

        <!-- BIG BOX OFRECE MOVISTAR -->
           <%- include('./partials/ofrece.html')%>
        <!-- END BIG BOX OFRECE MOVISTAR -->

        <!-- FOOTER -->
            <%- include('./partials/footer.html'); %>
        <!-- END FOOTER -->
    </div>
    <!-- END GENERAL CONTAINER -->

    <!-- SCRIPTS -->
    <%- include('./partials/scripts.html'); %>

</body>

</html>