<section class="modal modal--big hide" data-modal="terms">
    <div class="modal__container">
        <span class="modal__close"></span>
        <div class="modal__content mt30 pb20">
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb20">LEGAL DE FIBRA Bogota e Ibagué
            </h3>
            <p class="text gray mt15">Oferta válida desde el 1 al 15 de Enero de 2020. Los cargos básicos del plan
                Full Hogar (Línea Básica, Internet y TV) no se cobrarán en las 2 primeras facturas. El cliente debe
                adquirir los 3 servicios del plan Full Hogar al mismo
                tiempo. Los servicios adicionales como: Servicios de Valor Agregado, decodificadores y llamadas de
                larga distancia internacional serán cobrados desde la primera factura. Las ofertas incluyen dos (2)
                decodificadores sin cobro. Los decodificadores
                adicionales serán facturados. Las ciudades donde aplica la oferta son: Bogotá (sector Suba) e
                Ibagué. La velocidad contratada depende de la cobertura y disponibilidad técnica de la red dentro de
                las ciudades. El equipo Repetidor WiFi
                BasePort se entrega en calidad de préstamo. Los clientes Plan Full Hogar (Línea Básica + Internet +
                TV) podrán disfrutar de Movistar Play 48 horas hábiles después de su activación. Los clientes que
                adquieran el paquete de HBO o FOX
                recibirán los 2 primeros meses gratis y a partir del tercer mes se realizaría el cobro que se
                encuentre vigente de estos paquetes Premium. El preferido Fijo + Móvil aplica para líneas Movistar
                en Prepago y Pospago, está incluido sin
                costo y permite realizar llamadas entre un Fijo Movistar y un Móvil Movistar inscrito como preferido
                en la línea 01 8000 930 930. La disponibilidad de los servicios que integran la oferta está sujeta a
                las condiciones técnicas necesarias
                que se verifican al momento de la instalación. Los clientes residenciales que adquieran cualquier
                plan de Fibra Óptica Full Hogar Trio (Línea Básica + Internet + Televisión) a nivel nacional serán
                considerados clientes Black en nuestro
                Programa Movistar Preferencial. Conoce el programa y los beneficios únicos que tenemos para ti en
                www.movistar.co/preferencial. Aplican condiciones y restricciones. Para más información consulte
                www.movistar.co
            </p>
            <p class="text gray mt15">Velocidad de subida de 5, 10, 25 o 50 megas según la oferta, esto solo lo
                puede dar la conexión con FO (*Paquetes de TV y Movistar Play aplica únicamente para Trio) Cobertura
                Localidades con Fibra Óptica: Barranquilla, Cartagena, Cali,
                Chía, Cajicá, Soacha, Cúcuta Los Patios, Jamundí, Valledupar, Montería, Pasto, Ibagué, Neiva,
                Sincelejo, Tunja, Villavicencio, Villa del Rosario, Santa Marta, Palmira, Piedecuesta y Zipaquirá.
            </p>
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb20">LEGAL SMART WIFI</h3>
            <p class="text gray mt15">LEGAL SMART WIFI La aplicación Smart WiFi es compatible con los módems de los
                fabricantes Askey y Mitrastar que Colombia Telecomunicaciones Instala con el servicio de Internet
                Fibra Óptica. La aplicación Smart WiFi solo funciona cuando
                el dispositivo móvil en el que se descargó, está conectado a la red WiFi del mismo router (módem)
                del servicio de Internet Fibra Óptica que se desea administrar. La disponibilidad de los servicios y
                aplicaciones incluidas en los planes
                está sujeta a retiros o cambios que se comunicarán previamente. Aplican condiciones y restricciones.
                Para más información consulta http://www.movistar.co/configurar-smart-wifi</p>
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Terminos y condiciones demas ciudades con cobertura de
                fibra
            </h3>
            <p class="text gray mt15">Oferta válida desde el 1 al 15 de Enero de 2020. Los cargos básicos del plan
                Full Hogar (Línea Básica, Internet y TV) no se cobrarán en las 2 primeras facturas que el usuario
                recibirá después de la instalación de los servicios. El
                cliente debe adquirir los 3 servicios del plan Full Hogar al mismo tiempo. Los servicios adicionales
                como SVAS (Servicios de Valor Agregado), decodificadores y llamadas de larga distancia internacional
                serán cobrados desde la primera
                factura. Las ofertas desde 30 Megas aplican únicamente en estratos 3 al 6 e incluyen dos (2)
                decodificadores sin cobro. Los decodificadores adicionales se cobrarán al precio que aplique al
                momento de solicitarlos. Los clientes que
                activen un plan Full Hogar Fibra desde 30 Megas recibirán un equipo Repetidor WiFi BasePort, el bien
                se entrega en calidad de comodato, es decir en calidad de préstamo por el tiempo que el cliente
                mantenga la oferta de fibra Movistar
                desde 30 megas. El cliente puede acceder sin costo al contenido de Movistar Play en planes Full
                Hogar Fibra, pero si alquila contenido de estreno o de adultos será facturado de acuerdo con la
                tarifa vigente. Los clientes Plan Full
                Hogar (Línea Básica + Internet + TV) podrán disfrutar desde 48 canales en vivo en Movistar Play 48
                horas hábiles después de su activación. Las ofertas de Fibra Óptica incluyen desde 80 canales en su
                plan de Televisión, si el cliente
                retira alguno de sus productos o disminuye de velocidad, estos canales serán facturados al precio
                que aplique en ese momento. . Los clientes que adquieran el paquete de HBO o FOX recibirán los 2
                primeros meses gratis y a partir del
                tercer mes se realizaría el cobro que se encuentre vigente de estos paquetes Premium. El preferido
                Fijo + Móvil aplica para líneas Movistar en Prepago y Pospago, está incluido sin costo y permite
                realizar llamadas entre un Fijo Movistar
                y un Móvil Movistar inscrito como preferido en la línea 01 8000 930 930. La disponibilidad de los
                servicios que integran la oferta está sujeta a las condiciones técnicas necesarias que se verifican
                al momento de la instalación. Los
                clientes residenciales que adquieran cualquier plan de Fibra Óptica a nivel nacional serán
                considerados clientes Black en nuestro Programa Movistar Preferencial. Conoce el programa y los
                beneficios únicos que tenemos para ti en preferencial.movistar.co.Aplican
                condiciones y restricciones. Para más información consulte www.movistar.co
            </p>
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Terminos y condiciones TRIOS, DUOS E INTERNET SOLO.
            </h3>
            <p class="text gray mt15">Oferta válida desde el 1 al 15 de Enero de 2020. Los cargos básicos del plan
                Full Hogar (Línea Básica, Internet y TV) no se cobrarán en la 1 primer factura que el usuario
                recibirá después de la instalación de los servicios. El cliente
                debe adquirir los 3 servicios del plan Full Hogar al mismo tiempo. Los servicios adicionales como
                SVAS (Servicios de Valor Agregado), decodificadores y llamadas de larga distancia internacional
                serán cobrados desde la primera factura.
                Los planes de 5, 10 y 20 Megas incluyen dos (2) decodificadores sin cobro. Los decodificadores
                adicionales se cobrarán al precio que aplique al momento de solicitarlos. La oferta de 5 Megas por
                $102.900 mes aplica para los estratos
                1 y 2. Las ofertas de 10 y 20 Megas aplican únicamente en estratos 3 al 6. Las Megas adicionales
                tendrán una vigencia de 12 meses, la velocidad contratada y la velocidad adicional depende de la
                cobertura y disponibilidad técnica de
                la red dentro de las ciudades. A partir del mes trece, el usuario regresa a la velocidad de
                navegación adquirida inicialmente, si desea aumentar la velocidad podrá solicitarlo a través de los
                canales autorizados. En los planes de 20
                Megas lleva modem WiFi de doble banda. La aplicación Movistar Smart WiFi es compatible con los
                equipos de la familia Smart WiFi. El cliente puede acceder sin costo al contenido de Movistar Play
                en planes Full Hogar desde 5 Megas, pero
                si alquila contenido de estreno o de adultos serán facturados de acuerdo con la tarifa vigente. Los
                clientes Plan Full Hogar (Línea Básica + Internet + TV) podrán disfrutar desde 48 canales en vivo en
                Movistar Play 48 horas hábiles
                después de su activación. En las velocidades de 5, 10 y 20 Megas se incluyen desde 80 canales en su
                plan de Televisión, si el cliente retira alguno de sus productos o disminuye de velocidad, estos
                canales serán facturados al precio
                que aplique en ese momento. . Los clientes que adquieran el paquete de HBO o FOX recibirán los 2
                primeros meses gratis y a partir del tercer mes se realizaría el cobro que se encuentre vigente de
                estos paquetes Premium. El preferido
                Fijo + Móvil aplica para líneas Movistar en Prepago y Pospago, está incluido sin costo y permite
                realizar llamadas entre un fijo Movistar y un móvil Movistar inscrito como preferido en la línea 01
                8000 930 930. La disponibilidad de
                los servicios que integran la oferta está sujeta a las condiciones técnicas necesarias que se
                verifican al momento de la instalación. Aplican condiciones y restricciones. Para más información
                consulta www.movistar.co</p>
        </div>
    </div>
</section>