<section class="modal modal--big hide" data-modal="terms">
    <div class="modal__container">
        <span class="modal__close"></span>
        <div class="modal__content mt30 pb20">
            <h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Planes pospago y portabilidad
            </h3>
            <p class="text gray mt15">Oferta de planes válida para clientes individuales del 1 al 15 de Enero de
                2020. Una vez consumida la capacidad de datos del plan el cliente podrá seguir navegando en las
                redes sociales descritas en la publicidad sin costo adicional.
                Los planes de $127.900 y $181.900 mes incluyen el servicio especial conocido como: Datos Compartidos
                Movistar con el cual podrá compartir datos de la capacidad del plan hasta con 2 líneas Movistar así:
                Hasta 9GB en el plan de $127.900
                y hasta 12 gigas en el plan de $181.900. En los planes de $127.900 y $181.900 el cliente podrá
                llamar ilimitadamente a destinos nacionales, USA, Canadá y Puerto Rico más 500 minutos a España y
                LATAM (Argentina, Chile, Ecuador, Guatemala,
                México, Venezuela, Nicaragua, Panamá, Perú, Uruguay, El Salvador y Brasil). Los clientes deberán
                utilizar en sus llamadas internacionales el 009 como código de salida de Larga Distancia
                Internacional -LDI- (009 + Código país + Código
                de área + número telefónico), las llamadas de LDI realizadas con códigos de salida diferentes al 009
                serán facturadas como adicionales de acuerdo con las tarifas vigentes. Adicionalmente, todos los
                planes podrán compartir datos para
                navegar en internet con otros dispositivos cercanos encendiendo el wifi de su teléfono móvil,
                Movistar podrá restringir o ajustar sin previo aviso la compartición de datos a otros dispositivos
                cercanos. Todos los planes incluyen Movistar
                Play Lite, la App de series, películas y canales en vivo. Los planes de $63.900 y $181.900 son
                planes exclusivos online, aplican únicamente para compras realizadas a través de la página web
                www.movistar.co o a través de la línea 01800911008.
                Los planes exclusivos online no están disponibles en otros canales de venta. El plan de $63.900 está
                dirigido a usuarios comprometidos con el uso de medios digitales que por lo tanto quieran contar con
                factura digital. El valor de
                los planes corresponde a los servicios de Voz y Datos, en los planes también se incluyen servicios y
                aplicaciones sin costo, la disponibilidad de estos productos y servicios sin costo está sujeta a
                retiros o cambios que se comunicarán
                previamente. Esta oferta no es acumulable con otras ofertas de GB adicionales y/o promocionales.</p>
            <p class="text gray mt15">Oferta válida del 1 al 15 de Enero de 2020 o hasta agotar existencias. Son
                5000 unidades disponibles. Las parejas conformadas por equipos de la promoción (equipo compra y
                equipo obsequio) son los que aparecen en las imágenes de la
                publicidad, y no se pueden cambiar y/o combinar entre ellas. Los equipos de obsequio se deberán
                activar en el momento de la venta en cualquier plan pospago Movistar de la oferta comercial vigente.
                La oferta aplica para equipos activados
                en planes pospago desde $55.900 para línea portada y desde $69.900 para línea nueva, renovación y
                reposición. Para el canal web esta oferta aplica en planes pospago desde $55.900 para línea portada
                y en planes desde $63.900 (plan exclusivo
                online) para renovación y reposición, en este canal la oferta no aplica para línea nueva. En caso
                que el cliente desee adquirir la oferta de 2x1 en Smartphones con una línea portada, estará sujeto
                al éxito de la portabilidad. Si la
                portabilidad no es exitosa, el cliente podrá adquirir una línea nueva o realizar una renovación y/o
                reposición sobre otra línea Movistar que cumpla con las condiciones de la oferta. En caso que el
                cliente desee adquirir la oferta de
                2x1 en Smartphones con dos líneas portadas, estará sujeto al éxito de los dos procesos de
                portabilidad. Si una ó las dos portabilidades no son exitosas, el cliente podrá activar los
                teléfonos con líneas nuevas o realizar una renovación
                y/o reposición sobre otra línea Movistar que cumpla con las condiciones de la oferta. Movistar no
                está en la obligación de otorgar la oferta de Smartphones en caso de que ambas portabilidades sean
                rechazadas. En los puntos de venta
                hay equipos de las mismas referencias de esta promoción sin teléfono de obsequio, el cliente está en
                libertad de adquirir equipos sin obsequio y una vez se retire de la tienda no se aceptarán reclamos.
                Los clientes podrán llevar hasta
                1 pareja de equipos sobre dos líneas móviles Movistar en las condiciones descritas anteriormente por
                cédula. Aplica para todos los canales menos Retail.
            </p>
        </div>
    </div>
</section>