<!DOCTYPE html>
<html lang="es">

<head>
	<!-- HEAD -->
	<%- include('../partials/head.html'); %>
	<!-- END HEAD -->
</head>

<body>
	<div class="linkpospago">
		<a href="/portabilidad">
			<img src="/img/link/portabilidad.png" alt="">
		</a>
	</div>
	<!-- MODAL -->
	<section class="modal hide" data-modal="request">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="carousel__info__content">
				<h2 class="title title--xxm cyan ftBold fsM25 mt20 mtM0 mbM5">¿Quieres que te llamemos?</h2>
				<p class="text gray mt5">¡Oferta especial exclusiva!</p>
				<p class="text text--s gray fsI mt30">Vigencia desde el 1 al 15 de Octubre</p>
				<!-- FORM -->
				<form action="" onsubmit="location.href='/hogar/gracias'" method="post" class="form mt10"
					id="form_contacto_modal_hogar">
					<!-- FORM BOX -->
					<div class="form__box">
						<input type="number" placeholder="Ingresa tu número" class="form__input"
							id="num_tel_modal_hogar" required>
						<button class="form__submit btn btn--flat">Contrátalo aquí</button>
					</div>
					<!-- END FORM BOX -->
					<!-- FORM BOX -->
					<div class="form__box mt10">
						<input type="checkbox" name="personal-data" id="checkbox1m" class="form__checkbox" required>
						<label for="checkbox1m" class="form__label--ch">Autorizo el <span class="tdU pl3 pr3 cuP"
								data-modal="data">tratamiento de datos</span> personales</label>
					</div>
					<!-- END FORM BOX -->
				</form>
				<!-- END FORM -->
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- MODAL -->
	<section class="modal modal--big hide" data-modal="terms">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="modal__content mt30 pb20">
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb20">LEGAL DE FIBRA Bogota e Ibagué
				</h3>
				<p class="text gray mt15">Oferta válida desde el 1 al 15 de Octubre de 2019. Los cargos básicos del plan
					Full Hogar (Línea Básica, Internet y TV) no se cobrarán en las 2 primeras facturas. El cliente debe
					adquirir los 3 servicios del plan Full Hogar al mismo tiempo. Los servicios adicionales como:
					Servicios de Valor Agregado, decodificadores y llamadas de larga distancia internacional serán
					cobrados desde la primera factura. Las ofertas incluyen dos (2) decodificadores sin cobro. Los
					decodificadores adicionales serán facturados. Las ciudades donde aplica la oferta son: Bogotá
					(sector Suba) e Ibagué. La velocidad contratada depende de la cobertura y disponibilidad técnica de
					la red dentro de las ciudades. El equipo Repetidor WiFi BasePort se entrega en calidad de préstamo.
					Los clientes Plan Full Hogar (Línea Básica + Internet + TV) podrán disfrutar de Movistar Play 48
					horas hábiles después de su activación. Los clientes que adquieran el paquete de HBO o FOX recibirán
					los 2 primeros meses gratis y a partir del tercer mes se realizaría el cobro que se encuentre
					vigente de estos paquetes Premium. El preferido Fijo + Móvil aplica para líneas Movistar en Prepago
					y Pospago, está incluido sin costo y permite realizar llamadas entre un Fijo Movistar y un Móvil
					Movistar inscrito como preferido en la línea 01 8000 930 930. La disponibilidad de los servicios que
					integran la oferta está sujeta a las condiciones técnicas necesarias que se verifican al momento de
					la instalación. Los clientes residenciales que adquieran cualquier plan de Fibra Óptica Full Hogar
					Trio (Línea Básica + Internet + Televisión) a nivel nacional serán considerados clientes Black en
					nuestro Programa Movistar Preferencial. Conoce el programa y los beneficios únicos que tenemos para
					ti en www.movistar.co/preferencial. Aplican condiciones y restricciones. Para más información
					consulte www.movistar.co</p>
				<p class="text gray mt15">Velocidad de subida de 5, 10, 25 o 50 megas según la oferta, esto solo lo
					puede dar la conexión con FO (*Paquetes de TV y Movistar Play aplica únicamente para Trio) Cobertura
					Localidades con Fibra Óptica: Barranquilla, Cartagena, Cali, Chía, Cajicá, Soacha, Cúcuta Los
					Patios, Jamundí, Valledupar, Montería, Pasto, Ibagué, Neiva, Sincelejo, Tunja, Villavicencio, Villa
					del Rosario, Santa Marta, Palmira, Piedecuesta y Zipaquirá.</p>
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb20">LEGAL SMART WIFI</h3>
				<p class="text gray mt15">LEGAL SMART WIFI La aplicación Smart WiFi es compatible con los módems de los
					fabricantes Askey y Mitrastar que Colombia Telecomunicaciones Instala con el servicio de Internet
					Fibra Óptica. La aplicación Smart WiFi solo funciona cuando el dispositivo móvil en el que se
					descargó, está conectado a la red WiFi del mismo router (módem) del servicio de Internet Fibra
					Óptica que se desea administrar. La disponibilidad de los servicios y aplicaciones incluidas en los
					planes está sujeta a retiros o cambios que se comunicarán previamente. Aplican condiciones y
					restricciones. Para más información consulta http://www.movistar.co/configurar-smart-wifi</p>
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Terminos y condiciones demas ciudades con cobertura de
					fibra</h3>
				<p class="text gray mt15">Oferta válida desde el 1 al 15 de Octubre de 2019. Los cargos básicos del plan
					Full Hogar (Línea Básica, Internet y TV) no se cobrarán en las 2 primeras facturas que el usuario
					recibirá después de la instalación de los servicios. El cliente debe adquirir los 3 servicios del
					plan Full Hogar al mismo tiempo. Los servicios adicionales como SVAS (Servicios de Valor Agregado),
					decodificadores y llamadas de larga distancia internacional serán cobrados desde la primera factura.
					Las ofertas desde 30 Megas aplican únicamente en estratos 3 al 6 e incluyen dos (2) decodificadores
					sin cobro. Los decodificadores adicionales se cobrarán al precio que aplique al momento de
					solicitarlos. Los clientes que activen un plan Full Hogar Fibra desde 30 Megas recibirán un equipo
					Repetidor WiFi BasePort, el bien se entrega en calidad de comodato, es decir en calidad de préstamo
					por el tiempo que el cliente mantenga la oferta de fibra Movistar desde 30 megas. El cliente puede
					acceder sin costo al contenido de Movistar Play en planes Full Hogar Fibra, pero si alquila
					contenido de estreno o de adultos será facturado de acuerdo con la tarifa vigente. Los clientes Plan
					Full Hogar (Línea Básica + Internet + TV) podrán disfrutar desde 48 canales en vivo en Movistar Play
					48 horas hábiles después de su activación. Las ofertas de Fibra Óptica incluyen desde 80 canales en
					su plan de Televisión, si el cliente retira alguno de sus productos o disminuye de velocidad, estos
					canales serán facturados al precio que aplique en ese momento. . Los clientes que adquieran el
					paquete de HBO o FOX recibirán los 2 primeros meses gratis y a partir del tercer mes se realizaría
					el cobro que se encuentre vigente de estos paquetes Premium. El preferido Fijo + Móvil aplica para
					líneas Movistar en Prepago y Pospago, está incluido sin costo y permite realizar llamadas entre un
					Fijo Movistar y un Móvil Movistar inscrito como preferido en la línea 01 8000 930 930. La
					disponibilidad de los servicios que integran la oferta está sujeta a las condiciones técnicas
					necesarias que se verifican al momento de la instalación. Los clientes residenciales que adquieran
					cualquier plan de Fibra Óptica a nivel nacional serán considerados clientes Black en nuestro
					Programa Movistar Preferencial. Conoce el programa y los beneficios únicos que tenemos para ti en
					preferencial.movistar.co.Aplican condiciones y restricciones. Para más información consulte
					www.movistar.co</p>
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Terminos y condiciones TRIOS, DUOS E INTERNET SOLO.
				</h3>
				<p class="text gray mt15">Oferta válida desde el 1 al 15 de Octubre de 2019. Los cargos básicos del plan
					Full Hogar (Línea Básica, Internet y TV) no se cobrarán en la 1 primer factura que el usuario
					recibirá después de la instalación de los servicios. El cliente debe adquirir los 3 servicios del
					plan Full Hogar al mismo tiempo. Los servicios adicionales como SVAS (Servicios de Valor Agregado),
					decodificadores y llamadas de larga distancia internacional serán cobrados desde la primera factura.
					Los planes de 5, 10 y 20 Megas incluyen dos (2) decodificadores sin cobro. Los decodificadores
					adicionales se cobrarán al precio que aplique al momento de solicitarlos. La oferta de 5 Megas por
					$102.900 mes aplica para los estratos 1 y 2. Las ofertas de 10 y 20 Megas aplican únicamente en
					estratos 3 al 6. Las Megas adicionales tendrán una vigencia de 12 meses, la velocidad contratada y
					la velocidad adicional depende de la cobertura y disponibilidad técnica de la red dentro de las
					ciudades. A partir del mes trece, el usuario regresa a la velocidad de navegación adquirida
					inicialmente, si desea aumentar la velocidad podrá solicitarlo a través de los canales autorizados.
					En los planes de 20 Megas lleva modem WiFi de doble banda. La aplicación Movistar Smart WiFi es
					compatible con los equipos de la familia Smart WiFi. El cliente puede acceder sin costo al contenido
					de Movistar Play en planes Full Hogar desde 5 Megas, pero si alquila contenido de estreno o de
					adultos serán facturados de acuerdo con la tarifa vigente. Los clientes Plan Full Hogar (Línea
					Básica + Internet + TV) podrán disfrutar desde 48 canales en vivo en Movistar Play 48 horas hábiles
					después de su activación. En las velocidades de 5, 10 y 20 Megas se incluyen desde 80 canales en su
					plan de Televisión, si el cliente retira alguno de sus productos o disminuye de velocidad, estos
					canales serán facturados al precio que aplique en ese momento. . Los clientes que adquieran el
					paquete de HBO o FOX recibirán los 2 primeros meses gratis y a partir del tercer mes se realizaría
					el cobro que se encuentre vigente de estos paquetes Premium. El preferido Fijo + Móvil aplica para
					líneas Movistar en Prepago y Pospago, está incluido sin costo y permite realizar llamadas entre un
					fijo Movistar y un móvil Movistar inscrito como preferido en la línea 01 8000 930 930. La
					disponibilidad de los servicios que integran la oferta está sujeta a las condiciones técnicas
					necesarias que se verifican al momento de la instalación. Aplican condiciones y restricciones. Para
					más información consulta www.movistar.co</p>
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- MODAL -->
	<section class="modal modal--big hide" data-modal="data">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="modal__content mt30 pb20">
				<h2 class="title title--xxm cyan ftBold fsM25 ttU mt5 mb10">POLÍtiCAS DE PRIVACIDAD
				</h2>
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb10">Términos, condiciones y autorización para el
					tratamiento de datos personales.
				</h3>
				<p class="text gray mt10">El titular de los datos personales autoriza a Sociedad Unipersonal Sucursal
					Colombiana en nombre de Colombia Telecomunicaciones S.A. ESP (Telefónica) a recolectar, almacenar,
					conservar, usar, suprimir, actualizar, compartir y circular a terceros, sus datos personales de
					orden demográfico, económico, biométricos, de servicios, comercial y de localización; para obtención
					y suministro de información relativa al cumplimiento de sus obligaciones y el cálculo de riesgo
					económico o crediticio (de manera irrevocable), la publicación de directorios telefónicos, la
					prevención y control de fraudes, y para beneficio propio o de terceros con los que Telefónica haya
					celebrado convenio para envío y recepción de cualquier tipo de información, con fines comerciales o
					publicitarios en Colombia o en el exterior. La información para el cálculo de riesgo crediticio
					podrá ser consultada en cualquier operador de banco de datos, por las entidades financieras con las
					cuales Telefónica celebre convenios comerciales en favor de los titulares. Los datos serán tratados
					de conformidad con las Políticas para el Tratamiento de Datos Personales que se encuentran a
					disposición de los interesados y/o titulares de los datos en la página web
					www.promoshogarymoviles.com El titular de los datos tiene derecho de conocer, actualizar,
					rectificar, suprimir los datos, revocar la autorización salvo las excepciones legales. Los datos
					biométricos son datos sensibles y el titular no está obligado a autorizar su tratamiento, estos
					serán usados para verificación de identidad y suscripción de contratos.</p>
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- LOADER -->
	<div class="loader">
		<div class="loader__container">
			<svg class="loader__content" viewBox="25 25 50 50">
				<circle class="loader__circular" cx="50" cy="50" r="20" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
				<circle class="loader__circular" cx="50" cy="50" r="15" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
				<circle class="loader__circular" cx="50" cy="50" r="10" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
			</svg>
		</div>
	</div>
	<!-- End LOADER -->

	<!-- GENERAL CONTAINER -->
	<div class="container container--general">
		<!-- HEADER -->
		<header class="header">
			<div class="container container--limit header__container pl10 pr10">
				<!-- LOGO -->
				<a href="/hogar" class="logo logo--l">
					<img src="/img/logo/logo-2.png" alt="" class="logo__img">
				</a>
				<!-- END LOGO -->
				<!-- LOGO -->
				<a href="/hogar" class="logo">
					<img src="/img/logo/logo.png" alt="" class="logo__img" style="margin-right:15px;">
				</a>
				<!-- END LOGO -->
				<!-- NAV -->
				<nav class="nav nav--g">
					<ul class="nav__list">
						<!-- NAV ITEM -->
						<li class="nav__item">
							<a href="/" class="nav__item__link ">Fibra Movistar</a>
						</li>
						<!-- END NAV ITEM -->
						<!-- NAV ITEM -->
						<li class="nav__item">
							<a href="/hogar" class="nav__item__link active"> Internet Para tu hogar</a>
						</li>
						<!-- END NAV ITEM -->
					</ul>
				</nav>
				<!-- END NAV -->
				<!-- CALL -->
				<div class="btn btn--flat btn--green call call--invert mlMA">
					<a class="text--m call__info__newH" href="tel:+1-300-910-8449">MÓVIL: 3009108449</a>
					<!-- <a class="text--m call__info__new taC" href="tel:018000910065">Línea Nacional: 018000910065</a> -->
				</div>
				<!-- END CALL -->
			</div>
		</header>
		<!-- END HEADER -->

		<!-- BIG BOX -->
		<div class="bigBox bigBox--intro">
			<!-- CAROUSEL -->
			<section class="carousel carousel--intro carousel--g">
				<div class="owl-carousel carousel__core">
					<!-- CAROUSEL ITEM -->
					<article class="carousel__item">
						<img src="/img/carousel/fibraBanner.png" alt="" class="carousel__item__img">
						<div class="exclusivOnline ">
							<p class="title title--l white exclusivotitle">EXCLUSIVO ONLINE - AL MEJOR PRECIO</p>
							<p class="title title--l ftW ftBold white">Internet Hogar + Primer mes GRATIS</p>
						</div>
					</article>
					<!-- END CAROUSEL ITEM -->
					<!-- CAROUSEL ITEM -->

					<article class="carousel__item">
						<img src="/img/carousel/carousel-1.jpg" alt="" class="carousel__item__img">
					</article>
					<!-- END CAROUSEL ITEM -->
				</div>
				<!-- CAROUSEL INFO -->
				<div class="owl-carousel carousel__info">
					<!-- CAROUSEL INFO CONTAINER -->
					<article class="carousel__info__container">
						<div class="carousel__info__content">
							<!-- <span class="icon icon--iHome"></span> -->
							<h2 class="title title--xxm cyan ftBold fsM25 mt50 mtM0 mbM5">¡Gracias por registrarte!</h2>
							<!-- <p class="text gray mt5">¡Oferta especial exclusiva!</p> -->
							<p class="text text--s gray fsI mt10">Pronto nos comunicaremos contigo.</p>
						</div>
						<div class="carousel__info__message">
							<h2 class="title title--xxm cyan taC ftBold mt20">¡Gracias por registrarte!</h2>
							<p class="text gray taC mt5">Pronto nos comunicaremos contigo.</p>
						</div>
						<!-- END FORM -->
					</article>
					<!-- END CAROUSEL INFO CONTAINER -->
				</div>
				<!-- END CAROUSEL INFO -->
				<div class="CopysBanner">
					<div class="copy1">
						<img src="/img/icons/copyBanner_1.png" alt="">
					</div>
					<div class="copy2">
						<img src="/img/icons/copyBanner2_1.png" alt="">
					</div>
				</div>
				<!-- CAROUSEL NAV -->
				<div class="carousel__nav"></div>
				<!-- END CAROUSEL NAV -->
			</section>
			<!-- END CAROUSEL -->
		</div>
		<!-- END BIG BOX -->

		<!-- FOOTER -->
		<footer class="footer">
			<!-- FOOTER TOP -->
			<div class="footer__top">
				<div class="container container--limit footer__container">
					<div class="footer__box pb40">
						<a class="title title--xxs white ftBold fsM25 mbM5" href="tel:018000910065"><span
								class="text_whiteH">Linea Nacional: </span> 018000910065</a>
						<a class="title title--xxs white ftBold fsM25 mbM5" href="tel+1-300-910-8449">
							<span class="text_whiteH__second "> Móvil: </span> 3009108449 </a>
						<p class="text white mt5">o si lo prefieres, te llamamos nosotros</p>
						<!-- FORM -->
						<form action="#" method="post" class="form form--footer mt40" id="form_footer_hogar">
							<!-- FORM BOX -->
							<div class="form__box">
								<input type="number" placeholder="Ingresa tu número" class="form__input"
									id="form_telefono_footer_hogar" required>
								<button class="form__submit btn btn--flat btn--white">¡Te llamamos!</button>
							</div>
							<!-- END FORM BOX -->
							<!-- FORM BOX -->
							<div class="form__box mt10">
								<input type="checkbox" name="personal-data" id="checkbox1f" class="form__checkbox"
									required>
								<label for="checkbox1f" class="form__label--ch">Acepto uso<span class="tdU pl3 pr3 cuP"
										data-modal="data"> de datos</span></label>
							</div>
							<!-- END FORM BOX -->
							<!-- <div class="boxgooglefooter">
								<img src="/img/icons/googlepartner.png" alt="">
							</div> -->
						</form>
						<!-- END FORM -->
						<!-- FOOTER BOX MESSAGE -->
						<div class="footer__box__message">
							<h2 class="w100 title title--xxm white taC ftBold mt20">¡Gracias por registrarte!</h2>
							<p class="w100 text white taC mt5">Pronto nos comunicaremos contigo.</p>
						</div>
						<!-- END FOOTER BOX MESSAGE -->
					</div>
					<div class="footer__box">
						<img src="/img/icons/caller.svg" alt="" class="footer__box__img" data-aos="zoom-out">
					</div>
				</div>
			</div>
			<!-- END FOOTER TOP -->
			<!-- FOOTER BOTTOM -->
			<div class="footer__bottom">
				<!-- <div class="container container--limit footer__container"> -->
				<!-- data-modal="terms" -->
				<!-- <p class="text text--m fsM16 gray taC">Aplican <a href="http://www.movistar.co/web/portal-col/footer/terminos-y-condiciones" target="_blank" class="pLink tdU gray" >Términos y Condiciones</a></p> -->
				<!-- </div> -->
			</div>
			<!-- END FOOTER BOTTOM -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END GENERAL CONTAINER -->

	<!-- SCRIPTS -->
	<%- include('../partials/scripts.html'); %>

</body>

</html>