<!DOCTYPE html>
<html lang="es">

<head>
	<!-- HEAD -->
	<%- include('../partials/head.html'); %>
	<!-- END HEAD -->
</head>

<body>
	<div class="linkhogar">
		<a href="/hogar">
			<img src="/img/link/hogar.png" alt="">
		</a>
	</div>

	<!-- MODAL -->
	<section class="modal hide" data-modal="request">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="carousel__info__content">
				<h2 class="title title--xxm cyan ftBold fsM25 mt20 mtM0 mbM5">¿Quieres que te llamemos?</h2>
				<p class="text gray mt5">¡Oferta especial exclusiva!</p>
				<p class="text text--s gray fsI mt30">Vigencia desde el 1 al 15 de Octubre</p>
				<!-- FORM -->
				<form action="" onsubmit="location.href='/portabilidad/gracias'" method="post" class="form mt10"
					id="form_contacto_modal">
					<!-- FORM BOX -->
					<div class="form__box">
						<input type="number" placeholder="Ingresa tu número" class="form__input" id="num_tel_modal"
							required>
						<button class="form__submit btn btn--flat">Contrátalo aquí</button>
					</div>
					<!-- END FORM BOX -->
					<!-- FORM BOX -->
					<div class="form__box mt10">
						<input type="checkbox" name="personal-data" id="checkbox1m" class="form__checkbox" required>
						<label for="checkbox1m" class="form__label--ch">Autorizo el <span class="tdU pl3 pr3 cuP"
								data-modal="data">tratamiento de datos</span> personales</label>
					</div>
					<!-- END FORM BOX -->
				</form>
				<!-- END FORM -->
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- MODAL -->
	<section class="modal modal--big hide" data-modal="terms">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="modal__content mt30 pb20">
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb20">Planes pospago y portabilidad
				</h3>
				<p class="text gray mt15">Oferta de planes válida para clientes individuales del 1 al 15 de Octubre de
					2019. Una vez consumida la capacidad de datos del plan el cliente podrá seguir navegando en las
					redes sociales descritas en la publicidad sin costo adicional. Los planes de $127.900 y $181.900 mes
					incluyen el servicio especial conocido como: Datos Compartidos Movistar con el cual podrá compartir
					datos de la capacidad del plan hasta con 2 líneas Movistar así: Hasta 9GB en el plan de $127.900 y
					hasta 12 gigas en el plan de $181.900. En los planes de $127.900 y $181.900 el cliente podrá llamar
					ilimitadamente a destinos nacionales, USA, Canadá y Puerto Rico más 500 minutos a España y LATAM
					(Argentina, Chile, Ecuador, Guatemala, México, Venezuela, Nicaragua, Panamá, Perú, Uruguay, El
					Salvador y Brasil). Los clientes deberán utilizar en sus llamadas internacionales el 009 como código
					de salida de Larga Distancia Internacional -LDI- (009 + Código país + Código de área + número
					telefónico), las llamadas de LDI realizadas con códigos de salida diferentes al 009 serán facturadas
					como adicionales de acuerdo con las tarifas vigentes. Adicionalmente, todos los planes podrán
					compartir datos para navegar en internet con otros dispositivos cercanos encendiendo el wifi de su
					teléfono móvil, Movistar podrá restringir o ajustar sin previo aviso la compartición de datos a
					otros dispositivos cercanos. Todos los planes incluyen Movistar Play Lite, la App de series,
					películas y canales en vivo. Los planes de $63.900 y $181.900 son planes exclusivos online, aplican
					únicamente para compras realizadas a través de la página web www.movistar.co o a través de la línea
					01800911008. Los planes exclusivos online no están disponibles en otros canales de venta. El plan de
					$63.900 está dirigido a usuarios comprometidos con el uso de medios digitales que por lo tanto
					quieran contar con factura digital. El valor de los planes corresponde a los servicios de Voz y
					Datos, en los planes también se incluyen servicios y aplicaciones sin costo, la disponibilidad de
					estos productos y servicios sin costo está sujeta a retiros o cambios que se comunicarán
					previamente. Esta oferta no es acumulable con otras ofertas de GB adicionales y/o promocionales.</p>
				<p class="text gray mt15">Oferta válida del 1 al 15 de Octubre de 2019 o hasta agotar existencias. Son
					5000 unidades disponibles. Las parejas conformadas por equipos de la promoción (equipo compra y
					equipo obsequio) son los que aparecen en las imágenes de la publicidad, y no se pueden cambiar y/o
					combinar entre ellas. Los equipos de obsequio se deberán activar en el momento de la venta en
					cualquier plan pospago Movistar de la oferta comercial vigente. La oferta aplica para equipos
					activados en planes pospago desde $55.900 para línea portada y desde $69.900 para línea nueva,
					renovación y reposición. Para el canal web esta oferta aplica en planes pospago desde $55.900 para
					línea portada y en planes desde $63.900 (plan exclusivo online) para renovación y reposición, en
					este canal la oferta no aplica para línea nueva. En caso que el cliente desee adquirir la oferta de
					2x1 en Smartphones con una línea portada, estará sujeto al éxito de la portabilidad. Si la
					portabilidad no es exitosa, el cliente podrá adquirir una línea nueva o realizar una renovación y/o
					reposición sobre otra línea Movistar que cumpla con las condiciones de la oferta. En caso que el
					cliente desee adquirir la oferta de 2x1 en Smartphones con dos líneas portadas, estará sujeto al
					éxito de los dos procesos de portabilidad. Si una ó las dos portabilidades no son exitosas, el
					cliente podrá activar los teléfonos con líneas nuevas o realizar una renovación y/o reposición sobre
					otra línea Movistar que cumpla con las condiciones de la oferta. Movistar no está en la obligación
					de otorgar la oferta de Smartphones en caso de que ambas portabilidades sean rechazadas. En los
					puntos de venta hay equipos de las mismas referencias de esta promoción sin teléfono de obsequio, el
					cliente está en libertad de adquirir equipos sin obsequio y una vez se retire de la tienda no se
					aceptarán reclamos. Los clientes podrán llevar hasta 1 pareja de equipos sobre dos líneas móviles
					Movistar en las condiciones descritas anteriormente por cédula. Aplica para todos los canales menos
					Retail.</p>
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- MODAL -->
	<section class="modal modal--big hide" data-modal="data">
		<div class="modal__container">
			<span class="modal__close"></span>
			<div class="modal__content mt30 pb20">
				<h2 class="title title--xxm cyan ftBold fsM25 ttU mt5 mb10">POLÍtiCAS DE PRIVACIDAD
				</h2>
				<h3 class="title cyan ftBold fsM25 ttU mt25 mb10">Términos, condiciones y autorización para el
					tratamiento de datos personales.
				</h3>
				<p class="text gray mt10">El titular de los datos personales autoriza a Sociedad Unipersonal Sucursal
					Colombiana en nombre de Colombia Telecomunicaciones S.A. ESP (Telefónica) a recolectar, almacenar,
					conservar, usar, suprimir, actualizar, compartir y circular a terceros, sus datos personales de
					orden demográfico, económico, biométricos, de servicios, comercial y de localización; para obtención
					y suministro de información relativa al cumplimiento de sus obligaciones y el cálculo de riesgo
					económico o crediticio (de manera irrevocable), la publicación de directorios telefónicos, la
					prevención y control de fraudes, y para beneficio propio o de terceros con los que Telefónica haya
					celebrado convenio para envío y recepción de cualquier tipo de información, con fines comerciales o
					publicitarios en Colombia o en el exterior. La información para el cálculo de riesgo crediticio
					podrá ser consultada en cualquier operador de banco de datos, por las entidades financieras con las
					cuales Telefónica celebre convenios comerciales en favor de los titulares. Los datos serán tratados
					de conformidad con las Políticas para el Tratamiento de Datos Personales que se encuentran a
					disposición de los interesados y/o titulares de los datos en la página web
					www.promoshogarymoviles.com El titular de los datos tiene derecho de conocer, actualizar,
					rectificar, suprimir los datos, revocar la autorización salvo las excepciones legales. Los datos
					biométricos son datos sensibles y el titular no está obligado a autorizar su tratamiento, estos
					serán usados para verificación de identidad y suscripción de contratos.</p>
			</div>
		</div>
	</section>
	<!-- END MODAL -->

	<!-- LOADER -->
	<div class="loader">
		<div class="loader__container">
			<svg class="loader__content" viewBox="25 25 50 50">
				<circle class="loader__circular" cx="50" cy="50" r="20" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
				<circle class="loader__circular" cx="50" cy="50" r="15" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
				<circle class="loader__circular" cx="50" cy="50" r="10" fill="none" stroke-width="2"
					stroke-miterlimit="10" />
			</svg>
		</div>
	</div>
	<!-- End LOADER -->

	<!-- GENERAL CONTAINER -->
	<div class="container container--general">
		<!-- HEADER -->
		<header class="header">
			<div class="container container--limit header__container pl10 pr10">
				<!-- LOGO -->
				<a href="/hogar" class="logo logo--l">
					<img src="/img/logo/logo-2.png" alt="" class="logo__img">
				</a>
				<!-- END LOGO -->
				<!-- LOGO -->
				<a href="/hogar" class="logo">
					<img src="/img/logo/logo.png" alt="" class="logo__img">
				</a>
				<!-- END LOGO -->
				<!-- NAV -->
				<nav class="nav nav--g">
					<ul class="nav__list">
						<!-- NAV ITEM -->
						<li class="nav__item">
							<a href="/portabilidad" class="nav__item__link active">Portabilidad</a>
						</li>
						<!-- END NAV ITEM -->
						<!-- NAV ITEM -->
						<li class="nav__item">
							<a href="/pospago" class="nav__item__link">Pospago</a>
						</li>
						<!-- END NAV ITEM -->
					</ul>
				</nav>
				<!-- END NAV -->
				<!-- CALL -->
				<div class="btn btn--flat call call--invert mlMA">
					<!-- <a class="text--m call__info__new" href="tel:(031)4434123">FIJO: 4434123</a> -->
					<a class="text--m call__info__new" href="tel:+1-300-910-8449">MÓVIL: 300 910 8449</a>
				</div>
				<!-- END CALL -->

			</div>
		</header>
		<!-- END HEADER -->

		<!-- BIG BOX -->
		<div class="bigBox bigBox--intro">
			<!-- CAROUSEL -->
			<section class="carousel carousel--introB carousel--g">
				<div class="owl-carousel carousel__core">

					<!-- END CAROUSEL ITEM -->
					<!-- CAROUSEL ITEM -->
					<article class="carousel__item">
						<img src="/img/carousel/ofertaExclusiva.png" alt="" class="carousel__item__img">
						<div class="movInfo">
							<div class="logos">
								<div class="logos__container">
									<img src="/img/logo/logoMovistar.png" alt="" class="logos__rappiPrime">
								</div>
							</div>
							<div>
								<h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">Disfruta esta
								</h2>
								<h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">oferta
								</h2>
								<h2 class="title title--xm white taC ftBold	 fsM16 lt1 mtM0 mbM5" id="tit">8 GIGAS</h2>
								<h2 class="title title--xxs white taC ftBold fsM14 lt1 mtM0 mbM5" id="tit">por <span
										class="bkcyan">$58.990 </span></h2>
							</div>
						</div>
					</article>
					</article>
					<!-- END CAROUSEL ITEM -->
					<!-- CAROUSEL ITEM -->
					<article class="carousel__item">
						<img src="/img/carousel/carousel-3.png" alt="" class="carousel__item__img">
						<div class="rappi">
							<p class="text text--xxm white">DESENRÉDATE CON POSPAGO</p>
							<div class="logos">
								<div class="logos__left">
									<img src="/img/logo/rappiPrime.png" alt="" class="logos__rappiPrime">
									<div class="logos__line"></div>
								</div>
								<div class="logos__right">
									<img src="/img/logo/rappi.png" alt="" class="logos__rappi">
								</div>
							</div>
							<h2 class="rappiO title title--l white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">HASTA</h2>
							<h2 class="rappiO title title--l white taC ftMedium fsM25 lt1 mtM0 mbM5" id="tit">12 MESES
							</h2>
							<h2 class="rappiO title title--l white taC ftBold	 fsM25 lt1 mtM0 mbM5" id="tit">¡GRATIS!
							</h2>
						</div>
					</article>
					<!-- CAROUSEL ITEM -->
					<article class="carousel__item">
						<img src="/img/carousel/carousel-3.png" alt="" class="carousel__item__img">
					</article>
					<!-- END CAROUSEL ITEM -->
				</div>
				<!-- CAROUSEL INFO -->
				<div class="owl-carousel carousel__info">
					<!-- CAROUSEL INFO CONTAINER -->
					<article class="carousel__info__container">
						<div class="carousel__info__content">
							<h2 class="title title--xxm white ftBold fsM25 mt20 mtM0 mbM5">¡Gracias por registrarte!
							</h2>
							<p class="text text--s white fsI mt10 mb10">Pronto nos comunicaremos contigo.</p>
						</div>
						<div class="carousel__info__message">
							<h2 class="title title--xxm white taC ftBold">¡Gracias por registrarte!</h2>
							<p class="text white taC mt5">Pronto nos comunicaremos contigo.</p>
						</div>
						<!-- END FORM -->
					</article>
					<!-- END CAROUSEL INFO CONTAINER -->

				</div>
				<!-- END CAROUSEL INFO -->
				<!-- CAROUSEL NAV -->
				<div class="carousel__nav"></div>
				<!-- END CAROUSEL NAV -->
			</section>
			<!-- END CAROUSEL -->
		</div>
		<!-- END BIG BOX -->


		<!-- FOOTER -->
		<footer class="footer">
			<!-- FOOTER TOP -->
			<div class="footer__top">
				<div class="container container--limit footer__container">
					<div class="footer__box pb40">
						<!-- 
						<a class="title title--xxm white ftBold fsM25 mbM5" href="tel:(031)4434123"><span
								class="text_white">Fijo: </span> 4434123</a> -->
						<a class="title title--xxm white ftBold fsM25 mbM5" href="tel:3009108465"><span
								class="text_white__second"> Móvil: </span> 3009108465 </a>
						<p class="text white mt5">o si lo prefieres, te llamamos nosotros</p>
						<!-- FORM -->
						<form action="#" method="post" class="form form--footer mt40" id="form_footer">
							<!-- FORM BOX -->
							<div class="form__box">
								<input type="number" placeholder="Ingresa tu número" class="form__input"
									id="form_telefono_footer" required>
								<button class="form__submit btn btn--flat btn--white">¡Te llamamos!</button>
							</div>
							<!-- END FORM BOX -->
							<!-- FORM BOX -->
							<div class="form__box mt10">
								<input type="checkbox" name="personal-data" id="checkbox1f" class="form__checkbox"
									required>
								<label for="checkbox1f" class="form__label--ch">Acepto uso<span class="tdU pl3 pr3 cuP"
										data-modal="data"> de datos</span></label>
							</div>
							<!-- END FORM BOX -->
							<!-- <div class="boxgooglefooter">
								<img src="/img/icons/googlepartner.png" alt="">
							</div> -->
						</form>
						<!-- END FORM -->
						<!-- FOOTER BOX MESSAGE -->
						<div class="footer__box__message">
							<h2 class="w100 title title--xxm white taC ftBold mt20">¡Gracias por registrarte!</h2>
							<p class="w100 text white taC mt5">Pronto nos comunicaremos contigo.</p>
						</div>
						<!-- END FOOTER BOX MESSAGE -->
					</div>
					<div class="footer__box">
						<img src="/img/icons/caller.svg" alt="" class="footer__box__img" data-aos="zoom-out">
					</div>
				</div>
			</div>
			<!-- END FOOTER TOP -->
			<!-- FOOTER BOTTOM -->
			<div class="footer__bottom">
				<!-- <div class="container container--limit footer__container"> -->
				<!-- data-modal="terms" -->
				<!-- <p class="text text--m fsM16 gray taC">Aplican <a href="http://www.movistar.co/web/portal-col/footer/terminos-y-condiciones" target="_blank" class="pLink tdU gray" >Términos y Condiciones</a></p> -->
				<!-- </div> -->
			</div>
			<!-- END FOOTER BOTTOM -->
		</footer>
		<!-- END FOOTER -->
	</div>
	<!-- END GENERAL CONTAINER -->

	<!-- SCRIPTS -->
	<%- include('../partials/scripts.html'); %>

</body>

</html>